<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <filter>  
        <filter-name>Set Character Encoding</filter-name >  
        <filter-class>es.caib.gusite.microback.utils.EncodingFilter</filter-class>  
        <init-param>  
            <param-name>encoding</param-name>  
            <param-value>UTF-8</param-value>  
        </init-param>  
    </filter>  
   
    <filter-mapping>  
        <filter-name>Set Character Encoding</filter-name>  
        <servlet-name>action</servlet-name>  
    </filter-mapping> 
    
    <listener>
		<listener-class>es.caib.gusite.utilities.sesion.NsesionesMicroback</listener-class>
    </listener>
    <listener>
		<listener-class>es.caib.gusite.microintegracion.listener.traductor.TraductorInitializer</listener-class>
    </listener> 
      
  	<servlet>
    	<servlet-name>QuartzInitializer</servlet-name>
    	<display-name>Quartz Initializer Servlet</display-name>
    	<servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
       	<load-on-startup>1</load-on-startup>
	</servlet>

  	<servlet>
    	<servlet-name>IndexadorSchedulerServlet</servlet-name>
    	<display-name>Quartz indexador Servlet</display-name>
    	<servlet-class>es.caib.gusite.microback.utils.job.IndexadorSchedulerServlet</servlet-class>
       	<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
    	<servlet-name>IndexadorCheckSchedulerServlet</servlet-name>
    	<display-name>Quartz Check indexador Servlet</display-name>
    	<servlet-class>es.caib.gusite.microback.utils.job.IndexadorCheckSchedulerServlet</servlet-class>
       	<load-on-startup>1</load-on-startup>
	</servlet>
	
	
	
	<servlet>
    	<servlet-name>DiccionarioSchedulerServlet</servlet-name>
    	<display-name>Quartz diccionario Servlet</display-name>
    	<servlet-class>es.caib.gusite.microback.utils.job.DiccionarioSchedulerServlet</servlet-class>
       	<load-on-startup>1</load-on-startup>
	</servlet>
    
  <servlet>
  
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    
    <load-on-startup>2</load-on-startup>
    
    <security-role-ref>
       <role-name>gussystem</role-name>
       <role-link>GUS_SYSTEM</role-link>
    </security-role-ref>
    
    <security-role-ref>
       <role-name>gusadmin</role-name>
       <role-link>GUS_ADMIN</role-link>
    </security-role-ref>
    
    <security-role-ref>
       <role-name>gussuper</role-name>
       <role-link>GUS_SUPER</role-link>
    </security-role-ref>
    
    <security-role-ref>
       <role-name>gusoper</role-name>
       <role-link>GUS_OPER</role-link>
    </security-role-ref>
    
  </servlet>

  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <taglib>
    <taglib-uri>/tags/struts-bean</taglib-uri>
    <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
  </taglib>
  
  <taglib>
    <taglib-uri>/tags/struts-html</taglib-uri>
    <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-logic</taglib-uri>
    <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-nested</taglib-uri>
    <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tags/struts-tiles</taglib-uri>
    <taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
  </taglib>

  <security-constraint>
    <web-resource-collection>
        <web-resource-name>sacmicroback</web-resource-name>
        <url-pattern>*.do</url-pattern>
        <url-pattern>*.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>GUS_SYSTEM</role-name>
        <role-name>GUS_ADMIN</role-name>
        <role-name>GUS_SUPER</role-name>
        <role-name>GUS_OPER</role-name>
    </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>BASIC</auth-method>
    <!--<realm-name><![CDATA[ROL - SAC]]></realm-name>-->
  </login-config>

  <security-role>
    <role-name>GUS_SYSTEM</role-name>
  </security-role>
  <security-role>
    <role-name>GUS_ADMIN</role-name>
  </security-role>
  <security-role>
    <role-name>GUS_SUPER</role-name>
  </security-role>
  <security-role>
    <role-name>GUS_OPER</role-name>
  </security-role>
</web-app>
