<!DOCTYPE html>
<!--/*

Tabla con el calendario y listado de eventos

*/-->
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:gus="http://www.caib.es/thymeleaf/gusite"
>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<th:block th:remove="all">
<!--/*  
	Este bloque se usa para visualización en prototipo estático.
	Al ejecutarse dinámicamente, se eliminará automáticamente
	*/-->
	<link rel="stylesheet" type="text/css" media="all" href="resources/css/estils.css"></link>
	<!--  
	<script type="text/javascript" src="http://cdn.jsdelivr.net/thymol/latest/thymol.min.js"></script>
-->
<script type="text/javascript" src="./resources/Thymol-2.0/thymol.js" data-jquery-src="resources/js/jquery/jquery-1.11.0.min.js" data-thymol-load="gus-dialect.js"></script>
<script type="text/javascript">
var thDebug = false;
</script>
<link rel="stylesheet" type="text/css" media="all" href="../files/estilsAgenda.css" th:href="@{/resources/files/estilsAgenda.css}"></link>	
</th:block>
</head>
<body>
	<div th:fragment="listado">

		<!--  retrocedemos 2 meses-->
		<div
		th:with="gc=${#calendars.createNow()},anteriorMes=(${#calendars.month(gc)}-2)" 
		id="agendaLlistat">
		<div th:if="${#lists.size(MVS_home_datos_agenda_listado)}!=0" th:remove="tag">
			<p>
				<strong th:text="#{microhtml.proximosactos} + ':'">Proximos Eventos</strong>
			</p>
			<div th:each="evento : ${MVS_home_datos_agenda_listado}">
				<div class="fechaEvento">
					<div class="diaEvento">
						<div th:with="midia=${#calendars.format(evento.finicio,'dd')},mihora=${#calendars.format(evento.finicio,'HH:mm')}">
							<div th:text="${midia}" th:remove="tag"></div>
						</div>
					</div>
					<div class="mesAnoEvento">
						<strong>
							<div th:with="midia=${#calendars.format(evento.finicio, 'MMM ')}" th:remove="tag">
								<div th:text="${#strings.substring(midia,0,3)}" th:remove="tag"></div>
							</div>
							<div th:with="midia=${#calendars.format(evento.finicio, 'yyyy')}" th:remove="tag">
								<div th:text="${midia}" th:remove="tag"></div>
							</div>
						</strong>
					</div>
				</div>

				<div class="infoEvento">
				<a href="agenda.html"
						th:href="@{${#gusuri.listarAgendaFecha(MVS_microsite,MVS_idioma,evento.finicio)}}">
					<div th:with="horai=${#calendars.format(evento.finicio, 'HH:mm')},horaf=${#calendars.format(evento.ffin, 'HH:mm')}" th:remove="tag">
					<strong th:text="${evento.actividad.traduce.nombre}"></strong>
						
						<br />
						<a href="agenda.html"
						th:href="@{${#gusuri.listarAgendaFecha(MVS_microsite,MVS_idioma,evento.finicio)}}"				
						th:text="${evento.traduce.titulo}">Título del evento</a>
					</div>
					</a>
				</div>
					
					</div>
					<a href="listarAgenda.html" th:href="@{${#gusuri.listarAgenda(MVS_microsite,MVS_idioma)}}" th:text="#{WEB2_GEN007}">
						Ver TODAS
					</a>
				</div>
				<p th:if="${#lists.size(MVS_home_datos_agenda_listado)} ==0" th:text="#{microhtml.noactos}">No hi ha cap acte programat</p>
			</div>
		</div>


		<div th:fragment="calendario">
			<div class="micro-elemento">
				<!-- Establecemos el valor al día y los meses a retroceder (fijos 2)  -->
				<div th:with="gc=${#calendars.createNow()}, 
				DayOfMonth=1, 
				nummesesaretroceder=2" th:remove="tag">
				<div th:with="anteriorMes=(${#calendars.month(gc)}-${nummesesaretroceder})" th:remove="tag">
					<div
					th:with="gc=${#calendars.create(#calendars.year(gc),anteriorMes,DayOfMonth,#calendars.hour(gc),#calendars.minute(gc))}"
					th:remove="tag">
					<div id="agendaCalendaris" class="listarAgenda" th:with="nummeses=3 + ${nummesesaretroceder}">

						<!-- getSelectoragenda -->
						<div
						th:with="gi=${#calendars.create(#calendars.year(gc),#calendars.month(gc),#calendars.day(gc),#calendars.hour(gc),#calendars.minute(gc))}"
						th:remove="tag">
						<div th:with="DayOfMonthgi=1" th:remove="tag">
							<p
							th:with="gi=${#calendars.create(#calendars.year(gi),#calendars.month(gi),DayOfMonthgi,#calendars.hour(gi),#calendars.minute(gi))}">
							<!--span th:text="#{calendario.mostrarmes} + ':'" th:remove="tag"></span><br />-->
							<button id="mesAnterior" type="button" class="btn btn-default" aria-label="Left Align" onclick="cambiMes(this.id);">
								<span class="icon icon-left" ></span>
								<span class="button-month-text" th:text="#{general.anterior}">mes anterior</span>
							</button>
							<select  onchange="mostrarCalendari();" name="agendaSelect"
							id="agendaSelect"
							th:with="nummeses=3 + ${nummesesaretroceder}">
							<div th:each="i : ${#numbers.sequence( 0, nummeses-1)}"
							th:remove="tag">
							<div th:if="${i} !=0" th:remove="tag">
								<div th:with="siguienteMes=${#calendars.month(gi)}"
								th:remove="tag">
								<div
								th:with="gi=${#calendars.create(#calendars.year(gi),siguienteMes,#calendars.day(gi),#calendars.hour(gi),#calendars.minute(gi))}"
								th:remove="tag">
								<div th:unless="((${siguienteMes}+ ${i})>12)" th:remove="tag">
									<div th:if="${i}==${nummesesaretroceder}" th:remove="tag"
									th:with="calendarioMes='calendario.mes.'+ (${siguienteMes}+ ${i})">
									<option th:selected="selected" th:value="${i}">
										<span class="bold"><span th:text="#{${calendarioMes}}" style="font-weight:bold"></span></span>
										<span th:text="${#calendars.year(gi)}"></span>
									</option>
								</div>
								<div th:if="${i}!=${nummesesaretroceder}" th:remove="tag"
								th:with="calendarioMes='calendario.mes.'+ (${siguienteMes}+ ${i})">
								<option th:value="${i}"
								th:text="#{${calendarioMes}}+ ' ' + ${#calendars.year(gi)}"></option>
							</div>
						</div>
						<div th:if="((${siguienteMes}+ ${i})>12)" th:remove="tag">
							<div>
								<div th:with="calendarioMes='calendario.mes.'+ ((${siguienteMes}+ ${i})-12)" th:remove="tag">
									<option th:value="${i}"
									th:text="#{${calendarioMes}}+ ' ' + (${#calendars.year(gi)}+1)"></option>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:if="${i} ==0" th:remove="tag"
			th:with="calendarioMes='calendario.mes.'+(${#calendars.month(gi)}+ ${i})">
			<option th:value="${i}"
			th:text="#{${calendarioMes}}+ ' ' + ${#calendars.year(gi)}"></option>
		</div>
	</div>
</select>
<script type="text/javascript">
$("agendaSelect").style.fontWeight = "bold";
jQuery("option").each(function() {
	var mes = this.text.substring(0,3);
	var any = this.text.substring(this.text.indexOf(" "))
	this.text = mes + any;
							});
	if(navigator.userAgent.toLowerCase().indexOf('firefox') > -1)
		{
		document.getElementById("agendaSelect").style.textIndent = ".2em";
 		}
</script>
<button type="button" id="mesPosterior" class="btn btn-default" aria-label="Left Align" onclick="cambiMes(this.id);">
	<span class="button-month-text" th:text="#{general.siguiente}">mes posterior</span>	
	<span class="icon icon-right" ></span>
</button>
</p>
</div>
</div>
<!-- fi getSelectoragenda -->
<span th:each="i : ${#numbers.sequence(1, nummeses)}" th:remove="tag">

	<!--  Mes actual (inicialmente mostrado) -->

	<div th:if="${i}==(${nummesesaretroceder}+1)">
		<span
		th:with="anyo=${#calendars.year(gc)},
		mes=(${#calendars.month(gc)}+${i}),
		cf=${#calendars.create(anyo,mes-1,1,0,0,0)},
		safeMes=${#calendars.month(cf)},
		safeAnyo=${#calendars.year(cf)}" th:remove="tag" 
		th:fragment="tablaCalendario"> 

									<!--<span th:switch="(${safeMes})" class="tituloMes"> 
										<span th:case="1" th:text="#{calendario.enero} + ' ' + ${safeAnyo}" th:remove="tag">Enero Año</span> 
										<span th:case="2" th:text="#{calendario.febrero} + ' ' + ${safeAnyo}" th:remove="tag">Febrero Año</span> 
										<span th:case="3" th:text="#{calendario.marzo} + ' ' + ${safeAnyo}" th:remove="tag">Marzo Año</span> 
										<span th:case="4" th:text="#{calendario.abril} + ' ' + ${safeAnyo}" th:remove="tag">Abril Año</span> 
										<span th:case="5" th:text="#{calendario.mayo} + ' ' + ${safeAnyo}" th:remove="tag">Mayo Año</span> 
										<span th:case="6" th:text="#{calendario.junio} + ' ' + ${safeAnyo}" th:remove="tag">Junio Año</span> 
										<span th:case="7" th:text="#{calendario.julio} + ' ' + ${safeAnyo}" th:remove="tag">Julio Año</span> 
										<span th:case="8" th:text="#{calendario.agosto} + ' ' + ${safeAnyo}" th:remove="tag">Agosto Año</span> 
										<span th:case="9" th:text="#{calendario.septiembre} + ' ' + ${safeAnyo}" th:remove="tag">Septiembre Año</span> 
										<span th:case="10" th:text="#{calendario.octubre} + ' ' + ${safeAnyo}" th:remove="tag">Octubre Año</span> 
										<span th:case="11" th:text="#{calendario.noviembre} + ' ' + ${safeAnyo}" th:remove="tag">Noviembre Año</span> 
										<span th:case="12" th:text="#{calendario.diciembre} + ' ' + ${safeAnyo}" th:remove="tag">Diciembre Año</span>
									</span>-->

									<table class="calendariTabla" cellspacing="5" cellpadding="0">
										<caption class="captionSummaryTable" th:text="#{calendario.sumario}">Dies del mes on haurà qualque acte</caption>
										<tr id="diasAbreviados">
											<th scope="col"><abbr th:title="#{calendario.lunes}" title="Dilluns" th:text="#{calendario.lunes.abrv}">Dl</abbr></th>
											<th scope="col"><abbr th:title="#{calendario.martes}" title="Dimarts" th:text="#{calendario.martes.abrv}">Dm</abbr></th>
											<th scope="col"><abbr th:title="#{calendario.miercoles}" title="Dimecres" th:text="#{calendario.miercoles.abrv}">Dc</abbr></th>
											<th scope="col"><abbr th:title="#{calendario.jueves}" title="Dijous" th:text="#{calendario.jueves.abrv}">Dj</abbr></th>
											<th scope="col"><abbr th:title="#{calendario.viernes}" title="Divendres" th:text="#{calendario.viernes.abrv}">Dv</abbr></th>
											<th scope="col"><abbr th:title="#{calendario.sabado}" title="Dissabte" th:text="#{calendario.sabado.abrv}">Ds</abbr></th>
											<th scope="col"><abbr th:title="#{calendario.domingo}" title="Diumenge" th:text="#{calendario.domingo.abrv}">Dg</abbr></th>
										</tr>
										<tr id="diasNoAbreviados">
											<th scope="col"><abbr th:title="#{calendario.lunes}" title="Dilluns" th:text="#{calendario.lunes}">Dl</abbr></th>
											<th scope="col"><abbr th:title="#{calendario.martes}" title="Dimarts" th:text="#{calendario.martes}">Dm</abbr></th>
											<th scope="col"><abbr th:title="#{calendario.miercoles}" title="Dimecres" th:text="#{calendario.miercoles}">Dc</abbr></th>
											<th scope="col"><abbr th:title="#{calendario.jueves}" title="Dijous" th:text="#{calendario.jueves}">Dj</abbr></th>
											<th scope="col"><abbr th:title="#{calendario.viernes}" title="Divendres" th:text="#{calendario.viernes}">Dv</abbr></th>
											<th scope="col"><abbr th:title="#{calendario.sabado}" title="Dissabte" th:text="#{calendario.sabado}">Ds</abbr></th>
											<th scope="col"><abbr th:title="#{calendario.domingo}" title="Diumenge" th:text="#{calendario.domingo}">Dg</abbr></th>
										</tr>	
										<th:block th:with="diaSemanaPrimerDiaMesEn=(${#calendars.dayOfWeek(cf)}-1),
										diaSemanaPrimerDiaMes=${diaSemanaPrimerDiaMesEn==0?7:diaSemanaPrimerDiaMesEn}" th:remove="tag"> 
										
										<span th:switch="${safeMes}" th:remove="tag"> 
											<span
											th:case="2" th:remove="tag"> <span
											th:if="((${safeAnyo} % 100 == 0) and (${safeAnyo} % 400 == 0)) or ((${safeAnyo} % 100 != 0) and (${safeAnyo} % 4 == 0))"
											th:with="diasmes=29" th:remove="tag">
											<tr gus:replace="general/agendaCalendarListado :: filasTabla"></tr>
										</span> 
										<span
										th:if="((${safeAnyo} % 100 == 0) and (${safeAnyo} % 400 != 0)) or ((${safeAnyo} % 100 != 0) and (${safeAnyo} % 4 != 0))"
										th:with="diasmes=28" th:remove="tag">
										<tr gus:replace="general/agendaCalendarListado :: filasTabla"></tr>
									</span>
								</span> 
								<span th:case="*" th:remove="tag"> 

									<span
									th:if="(${safeMes}!=4) and (${safeMes}!=6) and (${safeMes}!=9) and (${safeMes}!=11)"
									th:with="diasmes=31" th:remove="tag">
									<tr gus:replace="general/agendaCalendarListado :: filasTabla"></tr>
								</span>

								<span
								th:if="(${safeMes}==4) or (${safeMes}==6) or (${safeMes}==9) or (${safeMes}==11)"
								th:with="diasmes=30" th:remove="tag">

								<span th:fragment="filasTabla">
									<span th:with="
									numFilas=${T(Math).ceil( (0.0 + diasmes + diaSemanaPrimerDiaMes) / 7)},
									datosMes=${MVS_datos_agenda_calendario[safeAnyo+ '-' + safeMes]}" 
									th:remove="tag">
									<!-- MVS_datos_agenda_calendario[YYYY-MM] los dias en que hay eventos -->

									<tr th:each="numFila,iterStat : ${#numbers.sequence(1, numFilas)}"
									th:with="diaMes=${ (numFila-1) * 7 - diaSemanaPrimerDiaMes + 1}">

									<!--  dejamos celdas en blanco hasta el primer dia del mes -->
									<td th:if="${diaMes &lt; 0}"
									th:each="i: ${#numbers.sequence(diaMes, -1)}"></td>

									<span
									th:each="diaSemana,iterStat : ${#numbers.sequence(1, 7)}" th:remove="tag"
									th:with="diaMes=${ (numFila -1) * 7 - diaSemanaPrimerDiaMes + diaSemana + 1}"> 
									<!-- Imprmimos los dias de la semana, si estamos entre el 1 y diasmes -->
									<span
									th:if="(${diaMes &gt; 0 and diaMes &lt;= diasmes })"
									th:remove="tag">			
									<span
									th:if="${!(#sets.contains(datosMes,diaMes))}" th:remove="tag">
									<td class="NoActe noEvento"><span th:text="${diaMes}"></span></td>	
								</span>
								<span 
								th:if="${#sets.contains(datosMes,diaMes)}" th:remove="tag">

								<td class="acte evento" th:with="dayCalendar=${#calendars.create(safeAnyo, safeMes, diaMes)}"
								th:href="@{${#gusuri.listarAgendaFechaFormateada(MVS_microsite,MVS_idioma, #calendars.format(dayCalendar,'yyyyMMdd'))}}"
								>

								<a
								th:with="dayCalendar=${#calendars.create(safeAnyo, safeMes, diaMes)}"
								th:href="@{${#gusuri.listarAgendaFechaFormateada(MVS_microsite,MVS_idioma, #calendars.format(dayCalendar,'yyyyMMdd'))}}"
								>
								<span th:text="${diaMes}"></span>
							</a>
						</td>
					</span>
				</span>

			</span> 
		</tr>

	</span>
</span><!--  fin fragment filasTabla -->
</span> 

</span>
</span>

</th:block>

</table>
</span>
</div>

<!--  Meses inicialmente escondidos -->
<div th:if="${i}!=(${nummesesaretroceder}+1)" style="display: none;">
	<span gus:replace="general/agendaCalendarListado :: tablaCalendario" th:remove="tag"> </span>

</div>

</span>

</div>
	<div id="botonsMesosPosteriors">
	<button id="mesAnterior" type="button" class="btn btn-default" aria-label="Left Align" onclick="cambiMes(this.id);">
		<span class="icon icon-left" ></span>
		<span class="button-month-text" th:text="#{general.anterior}">mes anterior</span>
	</button>
	<button type="button" id="mesPosterior" class="btn btn-default" aria-label="Left Align" onclick="cambiMes(this.id);">
		<span class="button-month-text" th:text="#{general.siguiente}">mes posterior</span>	
		<span class="icon icon-right" ></span>
	</button>
</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>