<!DOCTYPE html>
<!--
//Este código nos muestra el menú de microsite
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:gus="http://www.caib.es/thymeleaf/gusite">
<head>
    <link rel="shortcut icon" th:href="@{/favicon.png}" type="image/x-ico"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <th:block th:remove="all">
    <link rel="stylesheet" type="text/css" media="all" href="../css/estils-tema.css"/>
    <link href="../files/bootstrap/css/bootstrap.min.css" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script src="../files/bootstrap/jquery-1.11.0.min.js" th:src="@{/resources/js/jquery/jquery-1.11.0.min.js}">
    </script>
    <script src="../files/bootstrap/js/bootstrap.min.js" th:src="@{/resources/bootstrap/js/bootstrap.min.js}">
    </script>
    <link href="../../resources/bootstrap/css/bootstrap-reset.css" rel="stylesheet" media="screen" />
    <script type="text/javascript" src="../files/globales.js"></script>
</th:block>
</head>
<body style="*{list-style:none;}">
    <div th:fragment="menu" class="menuLateral">

        <div th:if="${MVS_menu}!=null" th:remove="tag">
            <h2 class="invisible">
                Menú general
            </h2>
            <!--/* Caso para cuando hay un contenido definido */-->
            <div th:if="${MVS_contenido}!=null" th:with="idcontenido=${MVS_contenido.id}" th:remove="tag">
                <div gus:replace="general/menu :: contenido" th:remove="tag"></div>
            </div>
            <!--/* Caso para cuando hay un contenido a resaltar */-->
            <div th:if="${MVS_menu_cont_notic}!=null" th:with="idcontenido=${MVS_menu_cont_notic}" th:type="java.lang.String" th:remove="tag">
                <div gus:replace="general/menu :: contenido" th:remove="tag"></div>
            </div>
            <!--/* Caso para cuando hay un contenido a resaltar de encuestas */-->
            <div th:if="${MVS_idContenido}!=null" th:with="idcontenido=${MVS_idContenido}" th:type="java.lang.String" th:remove="tag">
                <div gus:replace="general/menu :: contenido" th:remove="tag"></div>
            </div>
            <!--/* Caso para cuando no hay contenido ni noticia definido */-->
            <div th:if="(${MVS_contenido}==null) and (${MVS_menu_cont_notic}==null) and (${MVS_idContenido}==null)" th:with="idcontenido='-1'" th:type="java.lang.Object" th:remove="tag">
                <div gus:replace="general/menu :: contenido" th:remove="tag">
                </div>
            </div> 
        </div>
        <!-- cercador -->
        <div th:if="${MVS_microsite.buscador}=='S'" th:remove="tag">
            <div id="indexCercador">
                <form name="cercadorForm" th:action="@{${#gusuri.cercar(MVS_microsite,MVS_idioma)}}" method="post">
                    <!--/* MVS_idsite: devuelve el id del site en cuestión */-->
                    <input type="hidden" name="idsite" value="" th:value="${MVS_idsite}" /> 
                    <!-- MVS_idioma: devuelve el idioma correspondiente -->
                    <input type="hidden" name="lang" value="" th:value="${MVS_idioma}" /> 
                    <label for="cercadorTxt">
                        <input name="cerca" id="cercadorTxt" type="text" value=""   th:placeholder="#{cercador.cercau}"/>
                        <button type="submit"></button>
                    </label>
                </form>
            </div>
        </div>
        <!-- /cercador -->
    </div>

    <!--/* Fragmento de contenido del menú */-->
    <div th:fragment="contenido" th:remove="tag" th:if="${!#strings.isEmpty(idcontenido)}">
        
        <div th:if="(${MVS_microsite.tipomenu}=='1')">
            <!-- /* menú sin iconos ################################################################################################################################*/-->
            <nav class="navbar navbar-default contenidoNav" role="navigation">
                <div class="container-fluid contenidomenuLateral">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header botonLateralResponsive">
                        <button type="button" class="navbar-toggle botonResponsive" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                            <span class="sr-only">
                                Toggle navigation
                            </span> 
                            <span class="icon-bar">

                            </span> 
                            <span class="icon-bar">

                            </span> 
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!--   Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse contenidoNav" id="bs-example-navbar-collapse-2">  
                        <ul class="contenidomenuLateral">
                            <li th:each="submenu : ${MVS_menu}" th:class="primerElemento">
                                <a th:class="${submenu.modo}!=C ? 'fijo':'pareADon'" th:text="${submenu.traduce.nombre}">
                                    Nombre del menúsaf
                                </a>

                                <ul class="primerosHijos">
                                    <th:block th:each="contenido : ${submenu.listacosas}">
                                    <li th:if="${contenido instanceof T(es.caib.gusite.micromodel.Contenido)}" th:id="${contenido.id}==${idcontenido} ? 'p'+${contenido.id} : ''" th:class="${contenido.id}==${idcontenido} ? 'seleccionado' : ''">
                                            <!--
                                                //#gusuri.contenido(MVS_microsite,MVS_idioma,contenido):devuelve la URL hacia el contenido con el id correspondiente
                                            -->
                                            <a href="contenido.html" th:href="@{${#gusuri.contenido(MVS_microsite,MVS_idioma,contenido)}}" target="" th:target="(${contenido.urlExterna}) ? '_blank' : '_self'" th:text="${contenido.traduce.titulo}">
                                                Título del contenido
                                            </a>
                                        </li>

                                        <li th:unless="${contenido instanceof T(es.caib.gusite.micromodel.Contenido)}" th:with="tamano=${#lists.size(contenido.listacosas)}" th:remove="tag">
                                            <ul th:remove="tag">
                                                <div th:if="${tamano}!=0" th:remove="tag">
                                                    <li th:if="${tamano}>1">
                                                        <a href="#" class="pareADon carpeta" th:text="${contenido.traduce.nombre}">
                                                            <span class="helloou">
                                                                Nombre del menú
                                                            </span>
                                                        </a>  
                                                        <ul class="segundosHijos">
                                                            <li th:each="opcion : ${contenido.listacosas}" th:id="${opcion.id}==${idcontenido} ? 'p'+${opcion.id} : ''" th:class="${opcion.id}==${idcontenido} ? 'seleccionado' : ''" >
                                                                <!--/* #gusuri.contenido(MVS_microsite,MVS_idioma,opcion):devuelve la URL hacia el contenido con el id correspondiente */-->
                                                                <a href="contenido.html" target="" th:href="@{${#gusuri.contenido(MVS_microsite,MVS_idioma,opcion)}}" th:target="(${opcion.urlExterna})? '_blank' : '_self'" th:text="${opcion.traduce.titulo}">
                                                                    Título opción menú
                                                                </a>
                                                            </li>
                                                        </ul>                       
                                                    </li> 
                                                    <li th:if="${tamano}==1" th:with="opcion=${contenido.listacosas[0]}" th:id="${opcion.id}==${idcontenido} ? 'p'+${opcion.id} : ''" th:class="${opcion.id}==${idcontenido} ? 'seleccionado' : ''">
                                                        <a href="contenido.html" target="" th:href="@{${#gusuri.contenido(MVS_microsite,MVS_idioma,contenido.listacosas[0])}}" th:target="(${contenido.listacosas[0].urlExterna})? '_blank' : '_self'" th:text="${contenido.traduce.nombre}">
                                                            Nombre contenido
                                                        </a>
                                                    </li>
                                                </div>
                                            </ul>
                                        </li>
                                    </th:block>
                                </ul>
                            </li>
                        </ul>                               
                    </div>
                </div>
            </nav>
        </div>

        
        <div th:if="(${MVS_microsite.tipomenu}=='2')">
            <!-- menu con iconos ################################################################################################################################ -->
            <nav class="navbar navbar-default contenidoNav" role="navigation">
                <div class="container-fluid contenidomenuLateral">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header botonLateralResponsive">
                        <button type="button" class="navbar-toggle botonResponsive" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                            <span class="sr-only">
                                Toggle navigation
                            </span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!--   Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse contenidoNav" id="bs-example-navbar-collapse-2">
                        <ul class="contenidomenuLateral">
                            <li th:each="submenu : ${MVS_menu}" class="primerElemento">
                                <!--/* #gusuri.archivopub(MVS_microsite,submenu.imagenmenu):devuelve la URL hacia el archivo correspondiente */-->
                                <a   th:class="${submenu.modo}!=C ? 'fijo':'pareADon'" >
                                    <img th:if="${submenu.imagenmenu} !=null" src="archivopub.html" th:src="@{${#gusuri.archivopub(MVS_microsite,submenu.imagenmenu)}}" alt="Nombre del menú" th:alt="${submenu.traduce.nombre}" />
                                    <span th:text="${submenu.traduce.nombre}"  th:remove="tag">Nombre del menú</span>
                                </a>
                                <ul  class="primerosHijos">
                                    <th:block th:each="contenido:${submenu.listacosas}">
                                    <li th:if="${contenido instanceof T(es.caib.gusite.micromodel.Contenido)}" th:id="${contenido.id}==${idcontenido} ? 'p'+${contenido.id} : ''" th:class="${contenido.id}==${idcontenido} ? 'seleccionado' : ''">
<!--
                                        <input type="hidden" id="testContenido" th:value="${contenido.id}"/>
                                        <input type="hidden" id="testId" th:value="${idcontenido}"/>

                                        <script>
                                        console.log("contenido.id = " + document.getElementById("testContenido").value);
                                        console.log("idconteido = " + document.getElementById("testId").value);
                                        </script>-->
                                        <a href="contenido.html" target="" th:href="@{${#gusuri.contenido(MVS_microsite,MVS_idioma,contenido)}}" th:target="(${contenido.urlExterna})? '_blank' : '_self'" th:text="${contenido.traduce.titulo}">
                                            Título del contendo
                                        </a>
                                    </li>
                                    <li th:unless="${contenido instanceof T(es.caib.gusite.micromodel.Contenido)}" th:with="tamano=${#lists.size(contenido.listacosas)}" th:remove="tag">
                                        <ul  th:remove="tag">
                                            <div th:if="${tamano}!=0" th:remove="tag">
                                                <li th:if="${tamano}>1">
                                                    <a href="#" class="pareADon carpeta"> 
                                                        <img th:if="${contenido.imagenmenu}!=null" src="archivopub.html" th:src="@{${#gusuri.archivopub(MVS_microsite,contenido.imagenmenu)}}" alt="Título del menú" th:alt="${contenido.traduce.nombre}" />
                                                        <span th:text="${contenido.traduce.nombre}" th:remove="tag">
                                                            Título del menú
                                                        </span>
                                                    </a>
                                                    <ul class="segundosHijos">
                                                        <li th:each="contenidoLista:${contenido.listacosas}" th:id="${contenidoLista.id}==${idcontenido} ? 'p'+${idconteactual} : ''" th:class="${contenidoLista.id}==${idcontenido} ? 'seleccionado' : ''">
                                                            <a href="contenido.html" target="" th:href="@{${#gusuri.contenido(MVS_microsite,MVS_idioma,contenidoLista)}}" th:target="(${contenidoLista.urlExterna})? '_blank' : '_self'" th:text="${contenidoLista.traduce.titulo}">
                                                                Título contenido
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li th:if="${tamano}==1"  th:with="opcion=${contenido.listacosas[0]}" th:id="${opcion.id}==${idcontenido} ? 'p'+${opcion.id} : ''" th:class="${opcion.id}==${idcontenido} ? 'seleccionado' : ''">
                                                    <img th:if="${contenido.imagenmenu} !=null" src="archivopub.html" th:src="@{${#gusuri.archivopub(MVS_microsite,contenido.imagenmenu)}}" alt="Traduce nombre" th:alt="${contenido.traduce.nombre}" />
                                                    <a href="contenido.html" target="" th:href="@{${#gusuri.contenido(MVS_microsite,MVS_idioma,opcion)}}" th:target="(${urlExterna})? '_blank' : '_self'" th:text="${contenido.traduce.nombre}">
                                                        Traducción contenido
                                                    </a>
                                                </li>
                                            </div>
                                        </ul>
                                    </li>
                                </th:block>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div> 
</div>

</body>
</html>

