<!DOCTYPE html>
<!--/*

Listado de eventos de la agenda para una fecha
	
*/-->
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:gus="http://www.caib.es/thymeleaf/gusite"
gus:decorator="layout">
<head>
	<link rel="shortcut icon" th:href="@{/favicon.png}" type="image/x-ico"/>
	<title
	th:if="(${MVS_micrositetitulo} !=null) and (${MVS_agenda_diaevento} !=null)"
	th:text="(${MVS_micrositetitulo} + '-' + #{agenda.eventos} + ' ' +${MVS_agenda_diaevento})"></title>
	<th:block th:remove="all">
<!--/*  
	Este bloque se usa para visualización en prototipo estático.
	Al ejecutarse dinámicamente, se eliminará automáticamente
	*/-->
	<script type="text/javascript" src="../resources/Thymol-2.0/thymol.js" data-jquery-src="../resources/js/jquery/jquery-1.11.0.min.js" data-thymol-load="gus-dialect.js"></script>
	<script type="text/javascript">
	var thDebug = false;
	</script>
</th:block>
<!--/*<link rel="stylesheet" type="text/css" media="all" href="resources/css/estilsAgenda.css" th:href="@{/resources/css/estilsAgenda.css}"></link>*/-->
</head>
<body>
    <h1>test</h1>
	<section th:remove="tag" layout:fragment="content">
		<!-- informacio con o sin menu -->
		<div
		th:id="(${MVS_microsite.tipomenu}=='0') ? 'infoNoMenu':'info'" class="body-diaAgenda listarAgenda">
		<!-- informacio-->
		<div id="infoNoticia">
			<div th:if="${#arrays.length(MVS_agenda_lista)}!=0" th:with="actividadold=''" th:remove="tag">
				<div id="capPagina">
				<span id="iconAgenda" class="glyphicon glyphicon-calendar" aria-hidden="true"></span>			
				<h2 id="titolPagina" th:text="#{agenda.evento}">esdeveniment</h2>
			</div>	
			<div class="fechaEvento">
					<div class="diaEvento">
						<div 
						th:with="inicio=${#calendars.format(MVS_agenda_diaevento, 'dd')}">
						<div th:text="${inicio}" th:remove="tag"></div>
					</div>
				</div>
				<div class="mesAnoEvento">
					<strong>
						<div th:with="inicio=${#calendars.format(MVS_agenda_diaevento, 'MMM')}" th:remove="tag">
							<div th:text="${#strings.substring(inicio,0,3)}" th:remove="tag"></div>
						</div>
						<div th:with="inicio=${#calendars.format(MVS_agenda_diaevento, 'yyyy')}" th:remove="tag">
							<div th:text="${inicio}" th:remove="tag"></div>
						</div>
					</strong>
				</div>
			</div>
			<div id="numEventos"><span>
				<span th:text="${MVS_agenda_lista.size()}">0</span></span>
				&nbsp;
				<span id="numEventosText" th:text="${MVS_agenda_lista.size()}>1? #{agenda.eventos} : #{agenda.evento}">eventos programados:</span>
			</div>
			<div th:each="elementoAgenda,iterStat : ${MVS_agenda_lista}" th:remove="tag">
				<div th:if="${elementoAgenda.actividad.traduce} !=null" class="activitat">							
					
					<img th:if="${elementoAgenda.traduce.imagen}!=null" id="imgNoticia" src="archivopub.gif" 
					th:src="@{${#gusuri.archivopub(MVS_microsite,elementoAgenda.traduce.imagen)}}"
					alt="" />	
					<div class="activitatTitol">
					<div th:if="${elementoAgenda.actividad}!=null" th:with="actividad=${elementoAgenda.actividad.traduce.nombre}" th:remove="tag">
						<div  id="fontNoticia" th:text="${elementoAgenda.actividad.traduce.nombre}"></div>
						<br />
						<div th:if="${!iterStat.first}" th:with="actividadold=${MVS_agenda_lista[iterStat.index-1].actividad.traduce.nombre}" th:remove="tag">
							<div th:if="${actividad}!=${actividadold}" id="fontNoticia" th:text="${elementoAgenda.actividad.traduce.nombre}"></div>
						</div>
					</div>					
					<h3 id="titolNoticia" th:text="${elementoAgenda.traduce.titulo}">Títol de l'esdeveniment</h3><br />
					<div class="fechaElemento">
						<span th:with="finicio=${#calendars.format(elementoAgenda.finicio, 'dd/MM/yyyy')},horai=${#calendars.format(elementoAgenda.finicio, 'HH:mm')}">
							<span th:text="${finicio}"></span>
							<span th:if="${horai}!='00:00'" th:text="#{agenda.cuando} +' '+ ${horai}" th:remove="tag">cuando HH:mm</span>
						</span>
						<span th:if="${elementoAgenda.ffin} !=null" th:with="ffin=${#calendars.format(elementoAgenda.ffin, 'dd/MM/yyyy')},horaf=${#calendars.format(elementoAgenda.ffin, 'HH:mm')}">
							<span th:text="${' - ' + ffin}"></span>
							<span th:if="${horaf}!='00:00'" th:text="#{agenda.cuando} +' '+ ${horaf}" th:remove="tag">cuando HH:mm</span>
						</span>
					</div>
				</div>
				<div th:utext="${elementoAgenda.traduce.descripcion}" th:remove="tag">traduce i descripcion</div>
					<div class="documentNoticia" th:if="${elementoAgenda.traduce.documento}!=null" >
						<div th:utext="#{agenda.descdocumento}">agenda desdocumento</div>
						<div class="linkDocument">
							<!--<span
							th:text="#{general.archivo} + ' ' + ${elementoAgenda.traduce.documento.mime}+ ', ' + ${elementoAgenda.traduce.documento.peso} + '-'" th:remove="tag">
							archivo pdf, 28000 bytes -</span>-->
							
							<div class="imgMime application-pdf" th:class="'imgMime ' + ${#strings.replace('__${#strings.replace(elementoAgenda.traduce.documento.mime,'.','-')}__','/','-')}">
								</div>
						<div class="link">
						<strong>
						<div th:text="${#strings.toUpperCase(#strings.substringAfter(elementoAgenda.traduce.documento.nombre,'.'))}"></div><span th:if="${elementoAgenda.traduce.documento.peso} > 1024" th:text="'('+${#strings.substring(elementoAgenda.traduce.documento.peso,0,3)} + ' KB)'"></span></strong>
						<br />
						<a href="archivopub.html"
							th:href="@{${#gusuri.archivopub(MVS_microsite,elementoAgenda.traduce.documento)}}"
							target="blank" th:text="${#strings.substringBefore(elementoAgenda.traduce.documento.nombre,'.')}">Nombre del documento</a>		
							</div>					
						</div>
					</div>								
					<div class="linkNoticia" th:if="${elementoAgenda.traduce.url} !=null"
					th:with="externa=${elementoAgenda.traduce.url}"
					th:type="java.lang.String" >
					<a href="http://urlexterna.com" th:href="@{${elementoAgenda.traduce.url}}"
					th:target="(${#strings.indexOf(externa,MVS_idsite)}==-1)? '__blanck' : '_self'">
					<img th:src="@{${MVS_uriTema + 'files/enlace.png'}}" src="../files/enlace.png" alt="" />
					<span
					th:text="(${elementoAgenda.traduce.urlnom}!=null) ? (${elementoAgenda.traduce.urlnom}) : (#{url.adicional})"
					th:remove="tag">traduce url o url adicional</span>
					</a>
					</div>
								
		</div>							
	</div>
	<a id="volverAgenda" href="listarAgenda.html" th:href="@{${#gusuri.listarAgenda(MVS_microsite,MVS_idioma)}}" th:text="#{general.volver}">
                                        Volver a agenda
                                    </a>
</div>			
<div th:if="${#arrays.length(MVS_agenda_lista)}==0">
	<div id="fontNoticia" th:text="#{agenda.nohay}">No hay más información</div>
</div>
</div>
</div>
<!--fin informacio-->
</section>
</body>
</html>
