<!DOCTYPE html>
<!--/*

	Listado de documentos

	*/-->
	<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:gus="http://www.caib.es/thymeleaf/gusite"
	gus:decorator="layout" th:with="lang=${#strings.toLowerCase(MVS_idioma)}" th:lang="${lang}"
	th:lang-xmllang="${lang}">
	<head>
		<link rel="shortcut icon" th:href="@{/favicon.png}" type="image/x-ico"/>
		<title
		th:text="${MVS_micrositetitulo}+ ' - ' + ${MVS_tipolistado}">Microsite título - tipo listado</title>	
		<th:block th:remove="all">
<!--/*  
	Este bloque se usa para visualización en prototipo estático.
	Al ejecutarse dinámicamente, se eliminará automáticamente
	*/-->
	<link rel="stylesheet" type="text/css" media="all" href="../css/estils-tema.css"></link>
	<script type="text/javascript" src="../resources/Thymol-2.0/thymol.js" data-jquery-src="../resources/js/jquery/jquery-1.11.0.min.js" data-thymol-load="gus-dialect.js"></script>
	<script type="text/javascript">
	var thDebug = false;
	</script>
	<link rel="stylesheet" type="text/css" media="all" href="../files/estilsListarNoticias.css" th:href="@{/resources/files/estilsListarNoticias.css}"></link>
</th:block>
</head>
<body>
	<section th:remove="tag" layout:fragment="content">
		<div th:id="(${MVS_microsite.tipomenu}=='0') ? 'infoNoMenu':'info'" id="info" class="contenedorNoticiasListadas">
			<div gus:replace="noticia/modulos :: capcelera_buscador">Listado cabecera buscador</div>
			<div th:if="${MVS_parametros_pagina.nreg}!=0">
				<div gus:replace="noticia/modulos :: infoCursor">Listado info cursor</div>
				<div id="noticiesLlistatDocumentos">
					<ul style="text-align: justify">
						<li th:each="elementoListado,iterStat : ${MVS_listado}" th:if="${elementoListado.traduce.titulo}!=null" style="list-style: none;">
							<div class="imagen">
								<div class="imgMime application-pdf" th:if="${elementoListado.traduce.docu}!=null and ${elementoListado.traduce.docu.mime}!=null" th:class="'imgMime ' + ${#strings.replace('__${#strings.replace(elementoListado.traduce.docu.mime,'.','-')}__','/','-')}">
									
								</div>
							</div>
							<div class="links">
								<a href="elementodocumento.html" th:href="@{${#gusuri.noticiaDescarga(MVS_microsite,MVS_idioma,elementoListado)}}" target="_blank" th:utext="${elementoListado.traduce.titulo}">
									Titulo elemento
								</a>
								<div th:utext="${elementoListado.traduce.texto}">
									Texto traducido
								</div>
							</div>
							<div class="separadorHorizontalGris" th:class="${!iterStat.last}? 'separadorHorizontalGris'"></div>
						</li>
					</ul>
				</div>
				<div gus:replace="noticia/modulos :: paginacio">Listado paginación</div>
			</div>
		</div>
	</section>
</body>
</html>


