<!DOCTYPE html>
<!--/*

Módulos para los distintos listados de noticias

*/-->
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" th:with="lang=${#strings.toLowerCase(MVS_idioma)}" th:lang="${lang}"
	th:lang-xmllang="${lang}">
<head>
    <link rel="shortcut icon" th:href="@{/favicon.png}" type="image/x-ico"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <th:block th:remove="all">
<!--  
  //Este bloque se usa para visualización en prototipo estático.
  //Al ejecutarse dinámicamente, se eliminará automáticamente
-->
<link rel="stylesheet" type="text/css" media="all" href="../files/estilsListarNoticias.css" th:href="@{/resources/files/estilsListarNoticias.css}"></link>
<link rel="stylesheet" type="text/css" media="all" href="../css/estils-tema.css"></link>    <script type="text/javascript" src="../resources/Thymol-2.0/thymol.js" data-jquery-src="../resources/js/jquery/jquery-1.11.0.min.js" data-thymol-load="gus-dialect.js"></script>
<script type="text/javascript">
var thDebug = false;
</script>
</th:block>
</head>
<body>
    <div th:fragment="capcelera_buscador" th:remove="tag">
        <h2 id="titolPagina">
            <span class="glyphicon glyphicon-pencil"></span>
            <span th:text="${MVS_tipolistado}" th:remove="tag">
                Nombre del listado
            </span> 
            <span th:if="${MVS_anyo}!=0" th:remove="tag">           
                <span th:if="${MVS_anyo}==-1" th:text="'Tots'" th:remove="tag">
                    Tots
                </span>
                <span th:if="${MVS_anyo}!=-1" th:text="${MVS_anyo}" th:remove="tag">
                    2015
                </span>
            </span>
        </h2>
        <div class="container-noticias-buscador sin" th:class="'container-noticias-buscador ' +((${MVS_claseelemento.buscador} !='S')? 'sin' :'con' )">
            <form th:if="${MVS_claseelemento.buscador}=='S'" action="#">
                <p class="navLlistat">
                    <label th:text="(#{listarnoticias.introduce}) + ':'">
                        Introduïu el text a cercar:
                    </label> 
                    <div>
                        <input type="text" name="filtro" />
                        <input type="submit" name="btnSsearch" value="Buscar" th:value="#{general.buscar}" />
                    </div>
                </p>
            </form>
            <p class="navLlistat" th:if="${!#lists.isEmpty(MVS_listadoanyos)}">
                <span th:text="#{noticia.anyos} + ':'">
                    Anys
                </span>  
                <span th:each="anyo:${MVS_listadoanyos}" th:remove="tag">
                    <a id="" href="noticias.html" th:href="@{${#gusuri.listarAnual(MVS_microsite,MVS_idioma,MVS_claseelemento,anyo)}}" th:onclick="'onClickAnyo(Tots)'"  h:style="${MVS_anyo} == ${anyo} ? 'font-weight:bold':''" th:text="(${anyo}=='-1') ? Tots:(${anyo})">
                        lista años
                    </a>
                </span>
            </p>
        </div>
        <p th:if="${MVS_parametros_pagina.nreg}==0" th:text="(#{listarnoticias.nohay}) + ' ' +(${MVS_tipolistado}) + '.'">
            No s`han trobat tipo listado.
        </p>
    </div>


    <div th:fragment="paginacio" th:remove="tag">
        <p th:if="!${MVS_busqueda}" class="navLlistat pie">
            <span class="inici" th:if="${MVS_parametros_pagina.cursor}!=1">
                <a th:href="@{${MVS_seulet_sin}(pagina=${MVS_parametros_pagina.inicio})}" th:text="#{general.param.inicio}">
                    Inici
                </a> 
            </span> 
            <span class="anterior" th:if="${MVS_parametros_pagina.cursor}!=1">
                <a th:href="@{${MVS_seulet_sin}(pagina=${MVS_parametros_pagina.anterior})}" th:text="#{general.param.anterior}">
                    Anterior
                </a>
            </span> 
            <span th:if="${MVS_tipolistado} !=null">
                <span>
                    -
                </span>
                <span class="elem-actual" th:text="${MVS_parametros_pagina.cursor}">
                    cursor
                </span> 
                a 
                <span class="elem-max-pag" th:text="${MVS_parametros_pagina.cursor_final}">
                    cursor final
                </span>
                de 
                <span class="max" th:text="${MVS_parametros_pagina.nreg}">
                    pagina nreg
                </span>
                <span>
                    -
                </span>
            </span> 
            <span class="seguent" th:if="${MVS_parametros_pagina.cursor_final}!=${MVS_parametros_pagina.nreg}">
                <a th:href="@{${MVS_seulet_sin}(pagina=${MVS_parametros_pagina.siguiente})}" th:text="#{general.param.siguiente}">
                    Següent
                </a> 
            </span>     
            <span class="final" th:if="${MVS_parametros_pagina.cursor_final}!=${MVS_parametros_pagina.nreg}">
                <a th:href="@{${MVS_seulet_sin}(pagina=${MVS_parametros_pagina.final})}" th:text="#{general.param.final}">
                    Fi
                </a>
            </span> 
        </p>
    </div>


    <div th:fragment="infoCursor" th:remove="tag">
        <div class="barra-resultados">
            <p th:if="!${MVS_busqueda} and ${MVS_tipolistado}!=null">
                <span th:text="#{listarnoticias.find.encontrados}" th:remove="tag">
                    S`han trobat un total
                </span>
                <strong class="actual" th:text="${MVS_parametros_pagina.nreg} + ' ' + ${MVS_tipolistado}">
                    pagina nreg tipo listado
                </strong>.
                <span th:text="#{listarnoticias.find.mostrados} + ' '" th:remove="tag">
                    Mostrats del
                </span>
                <strong class="max" th:text="${MVS_parametros_pagina.cursor} + ' ' + #{listarnoticias.find.al} + ' ' + ${MVS_parametros_pagina.cursor_final}">
                    pagina cursor al cursor final
                </strong>.
            </p>
            <p th:if="${MVS_busqueda}">
                <span th:text="#{listarnoticias.find.encontrados}" th:remove="tag">
                    S`han trobat un total
                </span>
                <strong class="actual" th:text="${MVS_parametros_pagina.nreg} + ' ' + ${MVS_tipolistado}">
                    pagina nreg tipo listado
                </strong>.
            </p>
        </div>
    </div>
</body>
</html>
