<!DOCTYPE html>
<!--
//Ficha de noticia
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:gus="http://www.caib.es/thymeleaf/gusite"
gus:decorator="layout" th:with="lang=${#strings.toLowerCase(MVS_idioma)}" th:lang="${lang}"
	th:lang-xmllang="${lang}">
<head>
	<link rel="shortcut icon" th:href="@{/favicon.png}" type="image/x-ico"/>
	<title th:if="${MVS_noticia} !=null" th:text="${MVS_micrositetitulo} + ' - ' + ${MVS_noticia.traduce.titulo}">Microsite título - Noticia traduce título</title>	
	<th:block th:remove="all">
<!-- 
	//Este bloque se usa para visualización en prototipo estático.
	//Al ejecutarse dinámicamente, se eliminará automáticamente
-->
<script type="text/javascript" src="../resources/Thymol-2.0/thymol.js" data-jquery-src="../resources/js/jquery/jquery-1.11.0.min.js" data-thymol-load="gus-dialect.js"></script>
<script type="text/javascript">
var thDebug = false;
</script>
<link rel="stylesheet" type="text/css" media="all" href="../files/estilsListarNoticias.css" th:href="@{/resources/files/estilsListarNoticias.css}"></link>
</th:block>
</head>
<body>
	<section th:remove="tag" layout:fragment="content">
		<!-- SDK DE FACEBOOK PARA EL BOTON -->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			/*<![CDATA[*/
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.3";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		/*]]>*/
		</script>
		<div th:id="(${MVS_microsite.tipomenu}=='0') ? 'infoNoMenu':'info'" id="info" class="noticiasInfo">
			<p id="enrere">
				<a href="#" th:href="@{${#gusuri.listarElementos(MVS_microsite, MVS_idioma, MVS_noticia.tipo)}}">
					Volver al listado de noticias
				</a>
			</p>
			<div id="infoNoticia" th:if="${MVS_noticia.traduce} !=null">
				<p id="fontNoticia" th:if="${MVS_noticia.fpublicacion}!=null" th:with="publicacion=${#calendars.format(MVS_noticia.fpublicacion, 'dd/MM/yyyy')}">
					<span th:text="${publicacion}" th:remove="tag">
						dd/MM/yyyy
					</span> 
					<span class="span-separador" th:class="(${MVS_noticia.traduce.fuente} != null) ? 'span-separador':''"></span>
					<div th:if="${MVS_noticia.traduce.fuente}!=null" th:text="${MVS_noticia.traduce.fuente}" th:remove="tag">
						Fuente
					</div>
				</p> 
				<h3 id="titolNoticia" th:text="${MVS_noticia.traduce.titulo}">
					Titulo de la noticia (traducido)
				</h3>
				<p id="subtitol" th:text="${MVS_noticia.traduce.subtitulo}">
					Subtitulo de la noticia (traducido)
				</p>
				<div class="redes-container">
					<div>
						<div class="btn-red-social fb">
							<div id="botonfb" class="fb-like" data-href="" data-layout="button_count" data-action="like" colorscheme="light" data-show-faces="false" data-share="false"></div>
							<script>
							document.getElementById("botonfb").setAttribute("data-href",window.location.href);
							</script>
						</div>
						<div class="btn-red-social">
							<script src="https://apis.google.com/js/platform.js" async="" defer="">
							{lang: 'es'}
							</script>
							<div class="g-plus" data-action="share" data-annotation="bubble"></div>
						</div>
						<div class="btn-red-social tw">
							<a id="botontw" href="https://twitter.com/share" class="twitter-share-button" data-text="">Tweet</a>
							<script>
							/*<![CDATA[*/
							var texto = document.getElementById("titolNoticia").innerHTML;
							texto = texto.substring(0,80) + "...";
							document.getElementById("botontw").setAttribute("data-text", texto);
							!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
							/*]]>*/
							</script>
						</div>
					</div>
				</div>
				<div id="imgNoticia">
					<img th:if="${MVS_noticia.imagen}" src="../files/news.png" th:src="@{${#gusuri.archivopub(MVS_microsite,MVS_noticia.imagen)}}" alt="" th:width="${MVS_anchoImg}" />
				</div>
				<div class="content">
					<p th:utext="${MVS_noticia.traduce.texto}" th:remove="tag">
						Contenido texto html de la noticia
					</p>
				</div>

				<div class="url" th:if="${MVS_noticia.traduce.laurl} !=null" th:with="externa=${MVS_noticia.traduce.laurl}">
					<span class="titulo-url"> 
						Enlaces de interes:
					</span>
					<div> 
						<img th:src="@{${MVS_uriTema + 'files/enlace.png'}}" src="../files/enlace.png" alt="" /> 
						<a href="#" th:href="@{${MVS_noticia.traduce.laurl}}" th:target="${#strings.startsWith(externa,'http')}? '_blank' : '_self'" th:text="${MVS_noticia.traduce.urlnom} !=null ? ${MVS_noticia.traduce.urlnom} : #{url.adicional}">
							Titulo del enlace
						</a>
					</div>
				</div>
				<div class="documentosAdjuntos" th:if="${MVS_noticia.traduce.docu} !=null">
					<p th:utext="#{noticia.descdocumento}">
						Documentos adjuntos:
					</p>
					<div>
						<a href="archivopub.html" th:href="@{${#gusuri.archivopub(MVS_microsite,MVS_noticia.traduce.docu)}}" target="blank">
							<div class="imgMime"  th:class="'imgMime ' + ${#strings.replace('__${#strings.replace(MVS_noticia.traduce.docu.mime,'.','-')}__','/','-')}">
								
							</div>
							<div>
								<div>
									<span class="nombreMime" th:with="mimeVar=${#strings.arraySplit(MVS_noticia.traduce.docu.nombre,'.')}" th:text="${mimeVar[#arrays.length(mimeVar)-1]}"> 
										pdf
									</span>
									<span class="tamano" th:text="'(' + ${MVS_noticia.traduce.docu.peso/1000} + ' kb)'">
										(200 kb)
									</span>
								</div>
								<p id="nombreArchivo"  th:text="${MVS_noticia.traduce.docu.nombre}">
									Nombre de archivo lorem
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- fin informacio -->
	</section>
	<!-- Parte añadida para usar el layout decorator "<section>"-->
</body>
</html>
