
#imagenCabecera1 {
	width: 154px;
	height: 35px;
	background-image: url("../intranet/imgs/capsal/logo.gif");
	background-size: 100%;
	margin: 0 auto;
	display: block;
}

#imagenCabecera2 {
	width: 214px;
	height: 64px;
	background-image: url("../imgs/cap/logo.gif");
	background-size: 100%;
	margin: 0 auto;
	display: block;
}

/*OCULTAR CAPTION TABLA CALENDARIO EN TODAS Y COLOCAR EN EL CENTRO EL NOMBRE DEL MES*/

.captionSummaryTable 
{
	display: none;
}

.tituloMes{
	
display: table-caption;
text-align: center;
width: 217px;

}


/*RETINA DISPLAY MEDIA QUERY*/
@media ( -webkit-min-device-pixel-ratio : 2) , ( min-resolution :
	192dpi) {
	#imagenCabecera1 {
		background-image: url("../intranet/imgs/capsal/logo02.gif");
		background-size: contain;
		margin: 0 auto;
	}
	#imagenCabecera2 {
		background-image: url("../imgs/cap/logo02.gif");
		background-size: contain;
		margin: 0 auto;
	}
}


/* MEDIA QUERIES RESPONSIVE*/
@media screen and (max-width:767px) {
	
	#imagenCabecera1,#imagenCabecera2 {
		margin-top: 16px;
	}
	
}	

/*CLASE PARA MOSTRAR U OCULTAR BOTONES DE ENCUESTAS SEGUN CONVENGA*/

.addBoton{
	display: block;
}

.removeBoton{
	display: none;
}