/* CSS Document */


#info h2,#infoNoMenu h2 {
	font-weight: bold !important;
}

label {
	font-weight: 100 !important;
}

#infoNoMenu {
	margin-top: 14px !important;
}

/* a:active {position: relative;} */
/* #infoFAQ dl li a:active {position: relative;} */

/*ESTILOS PARA BOOTSTRAP Y EXTRAS*/
div#capsal, div#continguts{
	max-width: 100%;
}

.noticiasInfo div#infoNoticia img#imgNoticia, .noticiasInfo, .noticiasInfo div#infoNoticia,.contenedorNoticiasListadas div#noticiesLlistat {
	max-width: 100%;
}

div#info, div#infoNoMenu{
	width: 41em;
	padding: 0;
}

#calendariLateral {
float: none;
width: initial;
margin-right: 0em;
}


/* MEDIA QUERIES RESPONSIVE*/
	
	.contenedorNoticiasListadas form + p{
	width: 200px;
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: center;
	}
	
	.noticiasInfo h2,.noticiasInfo h3#titolNoticia,.noticiasInfo p#subtitol{
	text-align: center !important;
	
	}
	
	.noticiasInfo div#infoNoticia{
		margin-left: auto;
		margin-right: auto;
		width: 270px;
	}
	
	div#capsal{
	padding: 0.5em 0em 0.8em 0em;
	}
	
	div#info, div#infoNoMenu,div#info h2, div#infoNoMenu h2,div#info div#calendariLateral h3, div#infoNoMenu div#calendariLateral h3, div#agendaLlistat h3, div.activitat h3#titolNoticia{
	width: 100% !important;
	max-width: 100% !important;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	
}
 form {
  width: 80%;
  margin: 0 auto;
  text-align: center; 
} 

div.activitat p{
	text-align: center !important;
}

div#agendaCalendaris table{
	margin: auto;
}

div#agendaCalendaris span.tituloMes{
	display: inline-table;
}
}

@media screen and (max-width:575px) {
	.menuLateral2 {
		width: 18.7em !important;
		margin: 0 auto;
	}
	.tamanoIndex {
		width: 100% !important;
	}
}


@media screen and (max-width:418px) {
table{
	width: 208px;
}
}