/* CSS Document */

body { font:normal 75% Arial, Helvetica, sans-serif; color:#494949; background:url(../imgs/bkg_site.png) repeat-x top #9ec9e3; margin:0; padding:1em 0 0 0; }
#contenedor { margin:0 auto; width:64em; }
#continguts { margin:0; background:url(../v1/imgs/fons_continguts.gif) repeat-y 17em 0 #ecf4fb; border-top:1px solid #85bbe4; border-bottom:.3em solid #85bbe4; padding-bottom:0em; width:64em; overflow:hidden; }

* .invisible { display:none; }
a.invisible { color:#c00; background-color:#fff; }


ul#capsalpestanyes { margin:0; padding:0; list-style:none; line-height:1.95em; }
ul#capsalpestanyes li { display:inline; padding:.25em 1em; margin-right:1em; background-color:#efefef; border:.1em solid #fff; }
ul#capsalpestanyes li.seleccionado { color:#fff; background-color:#003575; border:.1em solid #003575; }
ul#capsalpestanyes li a { color:#000; }

/* enllaços */

a { color:#0047b2; }
a.veureTot { padding-right:1.5em; background:url(../v1/imgs/enlaces/veuretot.gif) no-repeat right center; color:#900; }

/* imatges */

img { border:0; }
img.imgPagina { float:right; }

/* titols */

h1 { font-size:1.4em; margin:0; color:#000f21; background-color:#85bbe4; border-bottom:1px solid #fff; padding:.2em 0; }
h1 a { text-decoration:none; display:block; color:#000f21; padding-left:3em; }
h2 { font-size:1.4em; margin:0 0 1em 0; }
h3 { font-size:1.2em; margin:0 0 1em 0; }

/* formularis */

input, select { vertical-align:middle; }
select.tipoPetit { font-size:1em; }
textarea { font:normal 1em Arial, Helvetica, sans-serif; }

form div.etiqueta { display:block; float:left; width:30%; padding-right:.5em; text-align:right; padding-top:.25em; }
form div.separacio { display:table; clear:both; font-size:.4em; height:1em; }
form p.botonera { background-color:#efefef; padding:.5em; text-align:center; }
form input.txt { width:25.9em; }

/* llistes */

ul#websExternes { list-style:none; padding:0; margin:1em 0 1em 1em; }
ul#websExternes { background:url(../v1/imgs/enlaces/webexterna.gif) no-repeat left top; padding-left:2em; }
/* tables */

/* pàrrafs */

p { margin:1em 0; }

/* capes */

div.contingutsFi { clear:both; height:2em; background-color:#fff; }
div.tornarArrere { border-top:1px dashed #b8d7ef; padding:1em 0; }
div.tornarArrere a { background:url(../v1/imgs/enlaces/04tornar.gif) no-repeat left center #fff; padding-left:2em; }

/* capçal */

#capsal { padding:0.5em 1em 0.8em 1em; background:url(../v1/imgs/capsal/fondo.gif) repeat-x #003575; color:#fff; text-align:right; width:62em; overflow:hidden; }
#capsal a { color:#fff; }
#capsal img.logo { float:left; height: 70px;}
#capsal #organisme { font-size:.9em; margin-bottom:.5em; }

#capsalIdioma { margin:0; }
#capsalIdioma ul { display:inline; margin:0; padding:0; }
#capsalIdioma ul li { display:inline; margin:0; padding:0; }
#capsalIdioma form { display:inline; }
#capsalIdioma form img { position:relative; vertical-align:bottom; margin-right:.5em; }
ul#capsalEnllasos { position:relative; background-color:#efefef; margin:0; padding:.3em .7em; text-align:right; color:#000; }
ul#capsalEnllasos li { display:inline; list-style:none; margin-left:.5em; }
ul#capsalEnllasos li a { color:#002e63; margin-right:.5em; }
ul#capsalEnllasos li span.sep { margin:0 .5em; }

ul#capsalEnllasos li.atencio { background:url(../v1/imgs/capsal/ico_atencio.gif) no-repeat left center; padding-left:1.8em; margin-left:.5em; }
ul#capsalEnllasos li.mapaWeb { background:url(../v1/imgs/capsal/ico_mapaweb.gif) no-repeat left center; padding-left:1.8em; margin-left:.5em; }

/* molla pa */

ul#mollaPa { margin:0; padding:.4em 0 .4em .7em; position:relative; border-bottom:1px solid #e3e3e3; background-color:#fff; }
ul#mollaPa li { list-style:none; display:inline; padding-right:1.3em; background:url(../v1/imgs/mollapa/flecha.gif) no-repeat right center #fff; }

/* peu */

#peu { padding-top:0.5em; height:3.5em; color:#000; border-top:.5em solid #003574; }
#peu img#logoAD { float:left; position:relative; top:-0.5em; }
#peu ul#enllasos { float:right; margin:0; padding-right:1em; }
#peu ul#enllasos li { display:inline; margin-left:.7em; }
#peu ul#enllasos li a { color:#000; margin-right:.7em; }
#peu span.sep { margin:0 .5em; }

/* enllaç destacat */

#enllasDest { position:relative; height:10em; overflow:hidden; }
#enllasDest #enllas { display:block; position:absolute; top:0px; left:0px; width:40em; height:123px; padding:30px 0 0 30em; text-decoration:none; background:url(../imgs/index/bp_cortina.gif) no-repeat 300px 0px; }
#enllasDest #enllas .frase1 { font:normal 1.7em "Times New Roman", Times, serif; color:#000; }
#enllasDest #enllas .frase2 { font:normal 3em "Times New Roman", Times, serif; color:#00276c; line-height:.7em; }

#enllasDestPeu { background:url(../imgs/index/bp_sombra.gif) repeat-x #fff; height:2em; font-size:1em; border-top:1px solid #fff; }

/* menú */

#marcLateral { background-color:#ecf4fb; padding:.5em 1em; width:15em; float:left; }
#marcLateral h3 { margin-top:1em; }

/* Primer Nivel */
#marcLateral ul { list-style:none; margin:0; padding:0; width:15em; }
#marcLateral ul li { padding-bottom:.5em; }
#marcLateral ul li a { color:#00548e; padding-left:1em; background:none; display:block; }
/* Segundo Nivel */
#marcLateral ul li ul { list-style:none; margin:0; padding:0; width:15em; }
#marcLateral ul li ul li { padding:0 0 .5em .5em; }
#marcLateral ul li ul li a { color:#00548e; padding-left:1.5em; background:url(../imgs/listados/menu_off.gif) no-repeat left top #ecf4fb; display:block; }
#marcLateral ul li ul li a.pareAD { }
#marcLateral ul li ul li a.pareADon { background:url(../imgs/listados/menu_on.gif) no-repeat left top #ecf4fb; }
/* Contenidos */
#marcLateral ul li ul li ul { padding:.5em 0 0 2.5em; list-style:circle; margin:0; width:83%; }
#marcLateral ul li ul li ul li a { background:none; padding-left:0; font-size:.9em; }
#marcLateral li.seleccionado { font-weight:bold; }


#marcLateralAmbIcones { background-color:#ecf4fb; padding:.4em .4em; width:15.5em; vertical-align:top; float:left;}
#marcLateralAmbIcones h3 { margin-top:1em; display:block;}
#marcLateralAmbIcones h3 img { vertical-align:middle; padding-right:.3em; }
#marcLateralAmbIcones ul { list-style:none; margin:0; padding:0; width:15em; }
#marcLateralAmbIcones ul img { float:left; vertical-align:middle; padding-right:.1em; }
#marcLateralAmbIcones ul li { padding-bottom:.5em; }
#marcLateralAmbIcones ul li a { padding-left:.5em;  }
#marcLateralAmbIcones ul li a.pareAD { }
#marcLateralAmbIcones ul li a.pareADon { }
#marcLateralAmbIcones ul li ul { background:none; padding:.5em 0 0 2.5em; list-style:circle; margin:0; width:85%; }
#marcLateralAmbIcones ul li ul.on { display:block; }
#marcLateralAmbIcones ul li ul li a { background:none; padding-left:0; font-size:.9em; }
#marcLateralAmbIcones li.seleccionado { font-weight:bold; }


/* info */

#info { padding:0 1em 1em 1em; float:right; width:44.5em; background-color:#fff; }
#info h3 { margin-top:2em; }
#info ul { margin-top:1em; }
#info ul li { padding-bottom:1em; }

#infoNoMenu { padding:0 1em 1em 1em; background-color:#fff; }

/* INDEX */

/* agenda */

#agenda h2 { border-top:2px solid #85bbe4; padding:.5em 0 0 2em; color:#00276c; background:url(../imgs/titol/ico_blau.gif) no-repeat left top #fff; }

#agenda #agendaLlistat { float:right; width:24em; }
#agenda #agendaLlistat p { margin-top:.4em; }
#agenda #agendaLlistat ul { margin:0 0 0 2em; padding:0; }
#agenda #agendaLlistat ul li { margin-bottom:.8em; }

.calendariTabla { border:1px solid #ccc; width:20em; }
.calendariTabla th { padding:.5em; background-color:#efefef; color:#000; }
.calendariTabla tr.par { background-color:#f7f7f7; }
.calendariTabla td { text-align:center; padding:.2em; border:1px solid #efefef; border-collapse:collapse; }
.calendariTabla td.acte { font-weight:bold; }
.calendariTabla td.acte a { display:block; }

/* noticies */

div#noticies h2 { border-top:2px solid #85bbe4; padding:.5em 0 0 2em;  color:#00276c; background:url(../imgs/titol/ico_blau.gif) no-repeat left top #fff; }


/* PAGINES INTERNES */

#continguts h2#titolPagina { font-size:1.7em; color:#00276c; padding:.5em 0; margin:0; border-bottom:1px dashed #b8d7ef; }

/* pag noticies */

div#noticiesLlistat ul, div#noticies ul { margin:0; padding:0; }
div#noticiesLlistat ul li, div#noticies ul li { list-style:none; clear:left; margin-bottom:1em; margin-left:1em; }
div#noticiesLlistat ul li img, div#noticies ul li img { float:left; margin-right:.8em; }
div#noticiesLlistat ul li span.font, div#noticies ul li span.font { font-style:italic; font-weight:bold; }
div#noticiesLlistat ul li span.enllas, div#noticies ul li span.enllas { display:block; margin-top:.3em; padding-left:6em; }
a.enlaceInterno { background:url(../imgs/noticies/enlace_interno.gif) no-repeat 0 .2em; padding-left:2.5em; }
a.enlaceExterno { background:url(../imgs/noticies/enlace_externo.gif) no-repeat 0 .2em; padding-left:2.5em; }
a.docPDF { background:url(../imgs/noticies/doc_pdf.gif) no-repeat 0 .2em; padding-left:2.5em; }

#infoNoticia p { text-align:justify; }

p#navLlistat { clear:both; text-align:center; background-color:#f7f7f7; padding:.5em; }

h3#titolNoticia { margin-top:1em; }
p#subtitol { font-weight:bold; }
img#imgNoticia { float:left; margin:0 1em 1em 0; }
p#fontNoticia { font-style:italic; }
ul#notDetallEnllasos { list-style:none; margin-left:1.5em; padding:0; }


/* pag FAQs */

#infoFAQ dt { font-style:italic; margin-bottom:.2em; }
#infoFAQ dd { margin-bottom:.5em; }

/* mapa web */

div#pagMapaWeb h3 { margin-top:2em; }
div#pagMapaWeb ul { list-style:none; margin:0 2em; padding:0; }
div#pagMapaWeb ul li { padding:0 0 .5em 2em; background:url(../imgs/enlaces/mapawebnivel1.gif) no-repeat left top #fff; }
div#pagMapaWeb ul li ul { margin-top:.5em; list-style:none; margin:.5em 1em 0 1em; }
div#pagMapaWeb ul li ul li { padding-left:2.8em; background:url(../imgs/enlaces/mapawebnivel2.gif) no-repeat left top #fff; }

div#pagMapaWeb ul li ul li ul { margin-top:.5em; list-style:none; margin:.5em 1em 0 1em; }
div#pagMapaWeb ul li ul li ul li { padding-left:2.8em; background:url(../imgs/enlaces/mapawebnivel2.gif) no-repeat left top #fff; }
/* pla d'acció */

ul#listadoProgramas { list-style-type:decimal; }

/* descàrregues */

ul#descarregarLE { margin:1em; padding:0; list-style:none; }
ul#descarregarLE li.pdf { padding:0; margin-bottom:1em; padding-left:3.5em; background:url(../imgs/05descarregar/ico_pdf.gif) no-repeat left center; }
ul#descarregarLE li.doc { padding:0; margin-bottom:1em; padding-left:3.5em; background:url(../imgs/05descarregar/ico_doc.gif) no-repeat left center; }
ul#descarregarLE li.ppt { padding:0; margin-bottom:1em; padding-left:3.5em; background:url(../imgs/05descarregar/ico_ppt.gif) no-repeat left center; }

/* agenda */


#calendariLateral { float:left; width:20em; margin-right:2em; }
#calendariLateral p { margin-top:.4em; }
#calendariLateral ul { margin:0 0 0 2em; padding:0; }
#calendariLateral ul li { margin-bottom:.8em; }
#calendariLateral h3 { margin-top:0; padding-top:0; }
#calendariLateral .calendariTabla { border:1px solid #ccc; width:17em; }


#agendaLlistat { margin-bottom:3em; }
#agendaLlistat li { margin-bottom:.5em; }






/* novetats */

table#tNovetats { border:1px solid #d3e5f4; width:45em; margin-top:1em; }
table#tNovetats th { padding:.5em; background-color:#d3e5f4; color:#000; }
table#tNovetats tr.par { background-color:#f7f7f7; }
table#tNovetats tr.par a { color:#00548e; }
table#tNovetats td { padding:.5em; }
table#tNovetats td.v { white-space:nowrap; }
table#tNovetats td.v span { font-size:.9em; }


/* atencio ciutada */

a.atencioCiutada { padding:1em 0 1em 3em; background:url(../imgs/atenciociutada/atencio.gif) no-repeat left center #fff; margin-left:1em; }


/* fitxa tràmit pròximament */

#info #proposit, #info #organismeGestor, #info #vigencia, #info #dataPrevista, #info #maneraProva { padding-left:4em; }
#info #proposit { background:url(../imgs/tramit_fitxa/proposit.gif) no-repeat 1em 0 #fff; }
#info #organismeGestor { background:url(../imgs/tramit_fitxa/organisme.gif) no-repeat 1em 0 #fff; }
#info #vigencia { background:url(../imgs/tramit_fitxa/vigencia.gif) no-repeat 1em 0 #fff; }
#info #dataPrevista { background:url(../imgs/tramit_fitxa/data.gif) no-repeat 1em 0 #fff; }
#info #maneraProva { background:url(../imgs/tramit_fitxa/proves.gif) no-repeat 1em 0 #fff; }

.enlace_veureTot { padding-right:1.5em; background:url(../imgs/enlaces/veuretot.gif) no-repeat right center; }
.enlace_docInfo { background:url(../imgs/enlaces/ico_document.gif) no-repeat left top; padding-left:2em; }
.enlace_webExterna { background:url(../imgs/enlaces/webexterna.gif) no-repeat left top; padding-left:2em; }
.enlace_tornarArrere a { background:url(../imgs/enlaces/04tornar.gif) no-repeat left center #fff; padding-left:2em; }
.tituloPagina { font-size:1.7em; color:#00276c; padding:.5em 0; margin:0; border-bottom:1px dashed #b8d7ef; }


/* enquestes */

#enquestaPregunta ul { list-style:none; margin:1em 0; padding:0 0 0 3em; }
#enquestaPregunta #botonera, #enquestaPregunta p, #enquestaResultats p { text-align:center; }
#enquestaResultats ul { list-style:circle; margin:1em 0; padding:0 0 0 4em; }
#enquestaResultats li em { font-weight:bold; }
#enquestaResultats #votsTotals { font-size:1.2em; }
#enquestaResultats #votsTotals strong { font-size:1.2em; }
#enquestaResultats span.barra { display:block; background-color:#9ec9e3; margin-top:.3em; }

#enquestaPregunta img, .enquestaResultats img { margin-bottom:2em; }

.enquestaResultats p { text-align:center; }
.enquestaResultats ul { list-style:circle; margin:1em 0; padding:0 0 0 4em; }
.enquestaResultats li em { font-weight:bold; }
.enquestaResultats .votsTotals { font-size:1.2em; }
.enquestaResultats .votsTotals strong { font-size:1.2em; }
.enquestaResultats span.barra { display:block; background-color:#9ec9e3; margin-top:.3em; }

div#enquestaPreguntaCom h3 { padding:0 0 0 .4em; font-size:1.1em; font-weight:bold; }
div#enquestaPreguntaCom ul { list-style:none; margin:.1em 0; padding:0 0 0 1em; }
div#enquestaPreguntaCom li { font-size:1em; padding-bottom:.3em;}
div#enquestaPreguntaCom img { width:100px; margin-bottom:.5em; }
div#enquestaPreguntaCom #botonera, #enquestaPreguntaCom p { text-align:center; }
div#botoneraCom { text-align:center; }

/* cercador */

.resultatsRecercaInteligent { list-style:circle; margin:2em 0 1em 2em; padding:0; }
.resultatsRecercaInteligent li { margin-bottom:1em; }
.resultatsRecercaInteligent li span { color:#999; font-size:.9em; margin-left:.5em; }
.resultatsRecercaInteligent li span.detall { display:block; color:#494949; margin:.3em 0 0 1em; }

