/* CSS Document */

/* formateig */

body, form, table, caption, tr, tr, td, ul, ol, li, dl, img, button, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, object, iframe, dl, dt, dd, legend, fieldset { margin:0; padding:0; outline:0; }
img { border:0; }

/* comuns */

body { font:normal 80% 'TrebuchetMS', 'Trebuchet MS', Arial, Helvetica, sans-serif; color:#666; background-color:#fff; }

a { color:#000; text-decoration:none; }
a:hover { color:#c33; }
a.destacat { color:#c33; }
a.destacat:hover { color:#000; }

.invisible { display:none; }
.important { font-weight:bold; }

input, select, textarea, button { font:normal 1em Arial, Helvetica, sans-serif; color:#666; }
input[type="text"], select, textarea { line-height:1.3em !important; background-color:#fff; border:2px solid #e5e5e5 !important; }
input, textarea { padding:0 .2em; }

#contenedor { width:58em; margin:1.2em auto; }

#capsal { text-align:center; }

#mollaPa { overflow:hidden; width:100%; list-style:none; text-align:center; margin-top:1.1em; }
#mollaPa li { display:inline; font-size:.9em; }

#serveis { margin:0 auto; height:2em; list-style:none; text-align:center; margin-top:.8em; }
#serveis li { position:relative; display:inline; padding:.1em 0 .1em 0; }
#serveis li a { padding:0 1em; }
#serveis li:hover, #serveis li a:hover { background-color:#e5e5e5; }
#serveis li:hover ul { display:block; }
#serveis li ul { position:absolute; display:none; top:1.3em; left:-1px; width:15em; padding-bottom:1em; background-color:#e5e5e5; border:1px solid #fff; border-top:0; z-index:10; }
#serveis li ul li { display:block; text-align:left; line-height:1.3em; padding-top:.5em; padding-left:.8em; }
#serveis li ul li a { padding:0; }

#serveis li.p:hover, #serveis li.p a:hover { background:none !important; }

h1 { font-size:1.4em; text-align:center; margin:0 .8em; }
h1 a, h1 a:hover { }

#continguts { overflow:hidden; width:100%; margin:1.5em 0 5em 0; }

#eines, #peu { overflow:hidden; width:100%; }
#peu { font-size:.9em; padding-top:.3em; margin-top:.5em; border-top:1px solid #ccc; }
#eines .esquerra { float:left; width:13.9em; margin-right:.9em; }
#eines .centre { float:left; width:28.2em; line-height:1.2em; }
#eines .dreta { float:right; width:14.8em; }
#peu .esquerra { float:left; width:15.5em; margin-right:1em; }
#peu .centre { float:left; width:31.5em; line-height:1.4em; margin-right:1em; }
#peu .dreta { float:left; width:13.2em; }

#eines .centre .tamanyLletra { float:left; margin-right:1em;}
#eines .centre .idiomes { display:block; float:left; width:23em; margin:0; }
#eines .centre .mensajeTradAutomatica{ display:block; float:left; width:23em; margin:0; }




.esquerra h2, .dreta h2 { font-size:1.25em; line-height:1em; margin-bottom:.3em; }
.esquerra h2 span, .dreta h2 span { display:block; font-size:.8em; font-weight:normal; margin-bottom:.3em; }
.esquerra h3, .dreta h3 { font-size:1em; }
.esquerra ul, .dreta ul { list-style:none; margin-bottom:1.2em; }
.esquerra ul li, .dreta ul li { line-height:1.1em; margin-bottom:.3em; }

/* index */

#enllasDest { overflow:hidden; height:9.7em; }
#enllasDest #enllas { display:block; float:right; width:32em; height:7.2em; text-decoration:none; padding:2.5em 0 0 26em; margin:0; background:url(../imgs/index/bp_cortina.gif) no-repeat 300px 0px; }
#enllasDest #enllas .frase1 { font:normal 1.5em Arial, Helvetica, sans-serif; }
#enllasDest #enllas .frase2 { font:normal 2.5em Georgia, "Times New Roman", Times, serif; color:#666; line-height:1.2em; }

#enllasDestPeu { background:url(../imgs/index/bp_sombra.gif) repeat-x #fff; height:2em; font-size:1em; border-top:1px solid #fff; }

div#agenda { float:left; width:18em; margin-right:1em; }
div#agenda h2 { font-size:1.25em; line-height:1em; margin-bottom:.3em; }
.calendariTabla { border:1px solid #ccc; width:17em; }
.calendariTabla th { padding:.5em; background-color:#efefef; color:#000; }
.calendariTabla tr.par { background-color:#f7f7f7; }
.calendariTabla td { text-align:center; padding:.2em; border:1px solid #efefef; border-collapse:collapse; }
.calendariTabla td.acte { font-weight:bold; }
.calendariTabla td.acte a { display:block; }

div#noticies { float:left; width:23em; }
div#noticies h2 { font-size:1.25em; line-height:1em; margin-bottom:.3em; }

div#noticies ul { list-style:none; margin:0; padding:0; }
div#noticies ul li { overflow:hidden; width:100%; margin-bottom:.5em; }
div#noticies ul li img { float:left; margin-right:.8em; }
div#noticies ul li p.font { font-size:.9em; margin:0; }
div#noticies ul li p.enllas { margin:0; }

ul#banners { clear:both; padding:2em 0 0 0; text-align:center; }
ul#banners li { display:inline; list-style:none; margin-right:.5em; }
ul#banners li img { width:18em; }

a.enlaceInterno { background:url(../imgs/noticies/enlace_interno.gif) no-repeat 0 .2em; padding-left:2.5em; }
a.enlaceExterno { background:url(../imgs/noticies/enlace_externo.gif) no-repeat 0 .2em; padding-left:2.5em; }
a.docPDF { background:url(../imgs/noticies/doc_pdf.gif) no-repeat 0 .2em; padding-left:2.5em; }

/* men� */

#marcLateral, #marcLateralAmbIcones { float:left; width:13.7em; list-style:none; margin-right:1.3em; }

#indexCercador { margin-bottom:1.5em; }
#indexCercador input { width:92%; margin-bottom:.5em; border:2px solid #e5e5e5; }
#indexCercador button { margin-right:.5em; }

#marcLateral ul { list-style:none; margin-bottom:.8em; }
#marcLateral ul li { font-size:1em; font-weight:bold; line-height:1.2em; padding:.2em 0; }
#marcLateral ul li.seleccionado { font-weight:bold; }
#marcLateral ul li a { outline:none; }
#marcLateral ul li a:hover { color:#c33; }
#marcLateral ul li ul { margin-top:.2em; }
#marcLateral ul li ul li { font-size:1em; font-weight:normal; }
#marcLateral ul li ul li a { display:block; color:#000; padding-left:.6em; background:#fff url(../imgs/marclateral/pagina.gif) no-repeat left top; }
#marcLateral ul li ul li a.pareAD { background:#fff url(../imgs/marclateral/carpeta.gif) no-repeat left top; }
#marcLateral ul li ul li a.pareADon { background:#fff url(../imgs/marclateral/carpetaon.gif) no-repeat left top; }
#marcLateral ul li ul li ul li { font-size:.9em; padding-left:.5em; }

#marcLateralAmbIcones ul { list-style:none; margin-bottom:.8em; }
#marcLateralAmbIcones ul li { font-size:1em; font-weight:bold; line-height:1.2em; padding:.2em 0; }
#marcLateralAmbIcones ul li.seleccionado { font-weight:bold; }
#marcLateralAmbIcones ul li a { outline:none; }
#marcLateralAmbIcones ul li a:hover { color:#c33; }
#marcLateralAmbIcones ul li ul { margin-top:.2em; }
#marcLateralAmbIcones ul li ul li { font-size:1em; font-weight:normal; }
#marcLateralAmbIcones ul li ul li a { display:block; color:#000; padding-left:.6em; }
#marcLateralAmbIcones ul li ul li ul li { font-size:.9em; padding-left:.5em; }
#marcLateralAmbIcones ul li img { vertical-align:middle; margin-right:.6em; }

/* info */

#info { float:left; width:43em; line-height:1.2em; }

#infoNoMenu { padding:0 1em 1em 1em; background-color:#fff; }

#info h2, #infoNoMenu h2 { font-size:1.2em; padding:.2em 0; }
#info h3, #infoNoMenu h3 { font-size:1.1em; padding:.2em 0; margin-top:1em; }

#info ul, #infoNoMenu ul { margin:.8em 0 1em 2em; }
#info ul li, #infoNoMenu ul li { padding-bottom:.5em; }

#info p, #infoNoMenu p { line-height:1.2em; margin:.8em 0; }

/* enquestes */

#enquestaPregunta ul { list-style:none; margin:1em 0; padding:0 0 0 3em; }
#enquestaPregunta #botonera, #enquestaPregunta p, #enquestaResultats p { text-align:center; }
#enquestaResultats ul { list-style:circle; margin:1em 0; padding:0 0 0 4em; }
#enquestaResultats li em { font-weight:bold; }
#enquestaResultats #votsTotals { font-size:1.2em; }
#enquestaResultats #votsTotals strong { font-size:1.2em; }
#enquestaResultats span.barra { display:block; background-color:#e5e5e5; margin-top:.3em; }

#enquestaPregunta img, .enquestaResultats img { margin-bottom:2em; }

.enquestaResultats p { text-align:center; }
.enquestaResultats ul { list-style:circle; margin:1em 0; padding:0 0 0 4em; }
.enquestaResultats li em { font-weight:bold; }
.enquestaResultats .votsTotals { font-size:1.2em; }
.enquestaResultats .votsTotals strong { font-size:1.2em; }
.enquestaResultats span.barra { display:block; background-color:#e5e5e5; margin-top:.3em; }

div#enquestaPreguntaCom h3 { padding:0 0 0 .4em; font-size:1.1em; font-weight:bold; }
div#enquestaPreguntaCom ul { list-style:none; margin:.1em 0; padding:0 0 0 1em; }
div#enquestaPreguntaCom li { font-size:1em; padding-bottom:.3em;}
div#enquestaPreguntaCom img { width:100px; margin-bottom:.5em; }
div#enquestaPreguntaCom #botonera, #enquestaPreguntaCom p { text-align:center; }
div#botoneraCom { text-align:center; }

/* mapa web */

div#pagMapaWeb { margin-top:1.5em; }
div#pagMapaWeb ul { list-style:none; margin:.4em 0 1.5em 2em; }
div#pagMapaWeb ul li { padding-bottom:.3em; }

/* atencio al ciutada */

#atencioForm { margin-top:3em; }
#atencioForm p { overflow:hidden; width:45em; }
#atencioForm p span.etiqueta { display:block; float:left; width:10em; text-align:right; padding-right:.8em; }
#atencioForm p input[type="text"], #atencioForm p textarea { width:25em; }
#atencioForm p.botonera { width:30em; margin-left:10.8em; }

/* llistat elements */

ul#llistat { width:42em; margin:2em 0; }
ul#llistat li { overflow:hidden; width:100%; list-style:none; clear:left; margin-bottom:.5em; margin-left:1em; }
ul#llistat li img { float:left; margin-right:.8em; }
ul#llistat li p { text-align:justify; margin:.3em 0; }

p#navLlistat { clear:both; text-align:center; padding:.5em; }

/* llistat noticies */

ul.noticies li p.font { font-size:.9em; margin:0 !important; }
ul.noticies li p.enllas { margin:0; }







/*

body { font:normal 75% Arial, Helvetica, sans-serif; color:#494949; background:url(../imgs/bkg_site.png) repeat-x top #9ec9e3; margin:0; padding:1em 0 0 0; }
#contenedor { margin:0 auto; width:64em; }
#continguts { margin:0; background:url(../imgs/fons_continguts.gif) repeat-y 17em 0 #ecf4fb; border-top:1px solid #85bbe4; border-bottom:.3em solid #85bbe4; padding-bottom:0em; width:64em; overflow:hidden; }

* .invisible { display:none; }
a.invisible { color:#c00; background-color:#fff; }


ul#capsalpestanyes { margin:0; padding:0; list-style:none; line-height:1.95em; }
ul#capsalpestanyes li { display:inline; padding:.25em 1em; margin-right:1em; background-color:#efefef; border:.1em solid #fff; }
ul#capsalpestanyes li.seleccionado { color:#fff; background-color:#003575; border:.1em solid #003575; }
ul#capsalpestanyes li a { color:#000; }



a { color:#0047b2; }
a.veureTot { padding-right:1.5em; background:url(../imgs/enlaces/veuretot.gif) no-repeat right center; color:#900; }



img { border:0; }
img.imgPagina { float:right; }



h1 { font-size:1.4em; margin:0; color:#000f21; background-color:#85bbe4; border-bottom:1px solid #fff; padding:.2em 0; }
h1 a { text-decoration:none; display:block; color:#000f21; padding-left:3em; }
h2 { font-size:1.4em; margin:0 0 1em 0; }
h3 { font-size:1.2em; margin:0 0 1em 0; }



input, select { vertical-align:middle; }
select.tipoPetit { font-size:1em; }
textarea { font:normal 1em Arial, Helvetica, sans-serif; }

form div.etiqueta { display:block; float:left; width:30%; padding-right:.5em; text-align:right; padding-top:.25em; }
form div.separacio { display:table; clear:both; font-size:.4em; height:1em; }
form p.botonera { background-color:#efefef; padding:.5em; text-align:center; }
form input.txt { width:25.9em; }



ul#websExternes { list-style:none; padding:0; margin:1em 0 1em 1em; }
ul#websExternes { background:url(../imgs/enlaces/webexterna.gif) no-repeat left top; padding-left:2em; }




p { margin:1em 0; }



div.contingutsFi { clear:both; height:2em; background-color:#fff; }
div.tornarArrere { border-top:1px dashed #b8d7ef; padding:1em 0; }
div.tornarArrere a { background:url(../imgs/enlaces/04tornar.gif) no-repeat left center #fff; padding-left:2em; }



#capsal { padding:0.5em 1em 0.8em 1em; background:url(../imgs/capsal/fondo.gif) repeat-x #003575; color:#fff; text-align:right; width:62em; overflow:hidden; }
#capsal a { color:#fff; }
#capsal img.logo { float:left; }
#capsal #organisme { font-size:.9em; margin-bottom:.5em; }

#capsalIdioma { margin:0; }
#capsalIdioma ul { display:inline; margin:0; padding:0; }
#capsalIdioma ul li { display:inline; margin:0; padding:0; }
#capsalIdioma form { display:inline; }
#capsalIdioma form img { position:relative; vertical-align:bottom; margin-right:.5em; }
ul#capsalEnllasos { position:relative; background-color:#efefef; margin:0; padding:.3em .7em; text-align:right; color:#000; }
ul#capsalEnllasos li { display:inline; list-style:none; margin-left:.5em; }
ul#capsalEnllasos li a { color:#002e63; margin-right:.5em; }
ul#capsalEnllasos li span.sep { margin:0 .5em; }

ul#capsalEnllasos li.atencio { background:url(../imgs/capsal/ico_atencio.gif) no-repeat left center; padding-left:1.8em; margin-left:.5em; }
ul#capsalEnllasos li.mapaWeb { background:url(../imgs/capsal/ico_mapaweb.gif) no-repeat left center; padding-left:1.8em; margin-left:.5em; }



ul#mollaPa { margin:0; padding:.4em 0 .4em .7em; position:relative; border-bottom:1px solid #e3e3e3; background-color:#fff; }
ul#mollaPa li { list-style:none; display:inline; padding-right:1.3em; background:url(../imgs/mollapa/flecha.gif) no-repeat right center #fff; }







#peu { padding-top:0.5em; height:3.5em; color:#000; border-top:.5em solid #003574; }
#peu img#logoAD { float:left; position:relative; top:-0.5em; }
#peu ul#enllasos { float:right; margin:0; padding-right:1em; }
#peu ul#enllasos li { display:inline; margin-left:.7em; }
#peu ul#enllasos li a { color:#000; margin-right:.7em; }
#peu span.sep { margin:0 .5em; }



#enllasDest { position:relative; height:10em; overflow:hidden; }
#enllasDest #enllas { display:block; position:absolute; top:0px; left:0px; width:40em; height:123px; padding:30px 0 0 30em; text-decoration:none; background:url(../imgs/index/bp_cortina.gif) no-repeat 300px 0px; }
#enllasDest #enllas .frase1 { font:normal 1.7em "Times New Roman", Times, serif; color:#000; }
#enllasDest #enllas .frase2 { font:normal 3em "Times New Roman", Times, serif; color:#00276c; line-height:.7em; }

#enllasDestPeu { background:url(../imgs/index/bp_sombra.gif) repeat-x #fff; height:2em; font-size:1em; border-top:1px solid #fff; }



#marcLateral { background-color:#ecf4fb; padding:.5em 1em; width:15em; float:left; }
#marcLateral h3 { margin-top:1em; }


#marcLateral ul { list-style:none; margin:0; padding:0; width:15em; }
#marcLateral ul li { padding-bottom:.5em; }
#marcLateral ul li a { color:#00548e; padding-left:1em; background:none; display:block; }

#marcLateral ul li ul { list-style:none; margin:0; padding:0; width:15em; }
#marcLateral ul li ul li { padding:0 0 .5em .5em; }
#marcLateral ul li ul li a { color:#00548e; padding-left:1.5em; background:url(../imgs/listados/menu_off.gif) no-repeat left top #ecf4fb; display:block; }
#marcLateral ul li ul li a.pareAD { }
#marcLateral ul li ul li a.pareADon { background:url(../imgs/listados/menu_on.gif) no-repeat left top #ecf4fb; }

#marcLateral ul li ul li ul { padding:.5em 0 0 2.5em; list-style:circle; margin:0; width:83%; }
#marcLateral ul li ul li ul li a { background:none; padding-left:0; font-size:.9em; }
#marcLateral li.seleccionado { font-weight:bold; }


#marcLateralAmbIcones { background-color:#ecf4fb; padding:.4em .4em; width:15.5em; vertical-align:top; float:left;}
#marcLateralAmbIcones h3 { margin-top:1em; display:block;}
#marcLateralAmbIcones h3 img { vertical-align:middle; padding-right:.3em; }
#marcLateralAmbIcones ul { list-style:none; margin:0; padding:0; width:15em; }
#marcLateralAmbIcones ul img { float:left; vertical-align:middle; padding-right:.1em; }
#marcLateralAmbIcones ul li { padding-bottom:.5em; }
#marcLateralAmbIcones ul li a { padding-left:.5em;  }
#marcLateralAmbIcones ul li a.pareAD { }
#marcLateralAmbIcones ul li a.pareADon { }
#marcLateralAmbIcones ul li ul { background:none; padding:.5em 0 0 2.5em; list-style:circle; margin:0; width:85%; }
#marcLateralAmbIcones ul li ul.on { display:block; }
#marcLateralAmbIcones ul li ul li a { background:none; padding-left:0; font-size:.9em; }
#marcLateralAmbIcones li.seleccionado { font-weight:bold; }

*/

/* INDEX */


/* PAGINES INTERNES */

#continguts h2#titolPagina { font-size:1.7em; color:#00276c; padding:.5em 0; margin:0; border-bottom:1px dashed #b8d7ef; }

/* pag noticies */


#infoNoticia p { text-align:justify; }



h3#titolNoticia { margin-top:1em; }
p#subtitol { font-weight:bold; }
img#imgNoticia { float:left; margin:0 1em 1em 0; }
p#fontNoticia { font-style:italic; }
ul#notDetallEnllasos { list-style:none; margin-left:1.5em; padding:0; }


/* pag FAQs */

#infoFAQ dt { font-style:italic; margin-bottom:.2em; }
#infoFAQ dd { margin-bottom:.5em; }


/* pla d'acci� */

ul#listadoProgramas { list-style-type:decimal; }

/* desc�rregues */

ul#descarregarLE { margin:1em; padding:0; list-style:none; }
ul#descarregarLE li.pdf { padding:0; margin-bottom:1em; padding-left:3.5em; background:url(../imgs/05descarregar/ico_pdf.gif) no-repeat left center; }
ul#descarregarLE li.doc { padding:0; margin-bottom:1em; padding-left:3.5em; background:url(../imgs/05descarregar/ico_doc.gif) no-repeat left center; }
ul#descarregarLE li.ppt { padding:0; margin-bottom:1em; padding-left:3.5em; background:url(../imgs/05descarregar/ico_ppt.gif) no-repeat left center; }

/* agenda */

#calendariLateral { float:left; width:20em; margin-right:2em; }
#calendariLateral p { margin-top:.4em; }
#calendariLateral ul { margin:0 0 0 2em; padding:0; }
#calendariLateral ul li { margin-bottom:.8em; }
#calendariLateral h3 { margin-top:0; padding-top:0; }
#calendariLateral .calendariTabla { border:1px solid #ccc; width:17em; }

#agendaLlistat { margin-bottom:3em; }
#agendaLlistat li { margin-bottom:.5em; }






/* novetats */

table#tNovetats { border:1px solid #d3e5f4; width:45em; margin-top:1em; }
table#tNovetats th { padding:.5em; background-color:#d3e5f4; color:#000; }
table#tNovetats tr.par { background-color:#f7f7f7; }
table#tNovetats tr.par a { color:#00548e; }
table#tNovetats td { padding:.5em; }
table#tNovetats td.v { white-space:nowrap; }
table#tNovetats td.v span { font-size:.9em; }


/* atencio ciutada */

a.atencioCiutada { padding:1em 0 1em 3em; background:url(../imgs/atenciociutada/atencio.gif) no-repeat left center #fff; margin-left:1em; }


/* fitxa tr�mit pr�ximament */

#info #proposit, #info #organismeGestor, #info #vigencia, #info #dataPrevista, #info #maneraProva { padding-left:4em; }
#info #proposit { background:url(../imgs/tramit_fitxa/proposit.gif) no-repeat 1em 0 #fff; }
#info #organismeGestor { background:url(../imgs/tramit_fitxa/organisme.gif) no-repeat 1em 0 #fff; }
#info #vigencia { background:url(../imgs/tramit_fitxa/vigencia.gif) no-repeat 1em 0 #fff; }
#info #dataPrevista { background:url(../imgs/tramit_fitxa/data.gif) no-repeat 1em 0 #fff; }
#info #maneraProva { background:url(../imgs/tramit_fitxa/proves.gif) no-repeat 1em 0 #fff; }

.enlace_veureTot { padding-right:1.5em; background:url(../imgs/enlaces/veuretot.gif) no-repeat right center; }
.enlace_docInfo { background:url(../imgs/enlaces/ico_document.gif) no-repeat left top; padding-left:2em; }
.enlace_webExterna { background:url(../imgs/enlaces/webexterna.gif) no-repeat left top; padding-left:2em; }
.enlace_tornarArrere a { background:url(../imgs/enlaces/04tornar.gif) no-repeat left center #fff; padding-left:2em; }
.tituloPagina { font-size:1.7em; color:#00276c; padding:.5em 0; margin:0; border-bottom:1px dashed #b8d7ef; }




/* cercador */

.resultatsRecercaInteligent { list-style:circle; margin:2em 0 1em 2em; padding:0; }
.resultatsRecercaInteligent li { margin-bottom:1em; }
.resultatsRecercaInteligent li span { color:#999; font-size:.9em; margin-left:.5em; }
.resultatsRecercaInteligent li span.detall { display:block; color:#494949; margin:.3em 0 0 1em; }
