/* Document CSS */

body { font:normal 75%  Arial, Helvetica, sans-serif; background-color:#fff; color:#494949; padding:10px; margin:0; }
img { border:0; }
a { color:#03c; }
a:hover { text-decoration:underline; }

.nivel1 { background:url(../imgs/eines/nivel1.gif) no-repeat left center; padding:5px 0 5px 25px; margin-top:10px; border-bottom:1px solid #f2f2f2; }
.nivel2 { background:url(../imgs/eines/nivel2.gif) no-repeat left center; padding:5px 0 5px 40px; border-bottom:1px solid #f2f2f2; }
.paginaC { background:url(../imgs/eines/paginaC.gif) no-repeat left center; padding:5px 0 5px 55px; font-size:.9em; border-bottom:1px solid #f2f2f2; }
.paginaL { background:url(../imgs/eines/paginaL.gif) no-repeat left center; padding:5px 0 5px 55px; font-size:.9em; border-bottom:1px solid #f2f2f2; }

.visible { display:block; float:right; width:16px; background:url(../imgs/eines/visible.gif) no-repeat center center; }
.visibleNo { display:block; float:right; width:16px; background:url(../imgs/eines/visibleNo.gif) no-repeat center center; }




