/* CSS Document */

/* formateig */

body, form, table, caption, tr, tr, td, ul, ol, li, dl, img, button, p, h1, h2, h3, h4, h5, h6, h7, dl, dt, dd, object, iframe, dl, dt, dd, legend, fieldset { margin:0; padding:0; outline:0; }
img { border:0; }

/* comuns */

body { font:normal 80% 'TrebuchetMS', 'Trebuchet MS', Arial, Helvetica, sans-serif; color:#000; background-color:#fff; }

p { margin:1em 0; }

button { cursor:pointer; }

h1 { font:normal 1.6em Georgia, "Times New Roman", Times, serif; padding:0 0 .5em .6em; margin-top:.5em; background:#fff url(../imgs/titols/ombra.gif) repeat-x left bottom; }

a { font:normal 1em Georgia, "Times New Roman", Times, serif; color:#06c; }
a:hover { color:#006; }

/* ids */

#contenidor { }

#cap { overflow:hidden; height:3.9em; color:#fff; padding:.4em .4em; margin-bottom:0; background:#ff8400 url(../imgs/cap/fons.gif) repeat-x left top; border-bottom:1px solid #e07400; }

#peu { clear:both; padding:1em; background:#fff url(../imgs/peu/peu.gif) repeat-x left top; border-top:3px solid #ff8400; }
#peu p { margin:0; }

#mollapa { list-style:none; margin:5px 0 10px 0; padding:0 0 5px 0; font-size:.9em; border-bottom:1px solid #e3e3e3; }
#mollapa li { display:inline; padding-right:14px; margin-right:10px; background:url(../imgs/mollapa/flecha.gif) no-repeat right center #fff; }
#mollapa li.pagActual { font-style:italic; background-image:none; }

#titol { float:left; font-size:1.5em; }

#versio { float:left; font-size:.9em; padding:.4em .5em; }

#usuari { float:right; font-size:.9em; font-weight:bold; color:#fff; padding:.2em 1em; margin-right:.5em; }

ul#menu { overflow:hidden; width:100%; list-style:none; text-align:center; padding-top:.5em; background-color:#be6200; }
ul#menu li { display:inline; }
ul#menu li a { display:block; float:left; font:bold 1em Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; padding:.5em 2em; background-color:#e57700; border-right:1px solid #be6200; border-bottom:0 !important; }
ul#menu li a:hover { background-color:#9c5000; }

#cMenu { width:100%; border:0; background-color:#e57700; border-bottom:1px solid #be6200; }
#cMenu td { width:16%; text-align:center; border-right:1px solid #be6200; border-collapse:collapse; padding:2px; }
#cMenu td a { display:block; text-decoration:none; color:#494949; width:100%; padding:5px 0; outline:none; color:#fff; font-weight:bold; }
#cMenu td a:hover { background-color:#be6200; }

.submenu { display:none; position:absolute; top:0; left:0; background-color:#fff; border:1px solid #9c5000; z-index:2; text-align:center; }
.submenu p { padding:7px 0; color:#fff; background-color:#9c5000; margin:0; }
.submenu a { display:block; padding:4px 0; font-size:.9em; width:100%; text-decoration:none; color:#000; }
.submenu a:hover { background-color:#f2e6d9; }

#continguts { padding:0 1em 2em 1em; background-color:#fff; border-bottom:1em solid #fff; }

ul#botonera { float:left; width:6%; list-style:none; margin-right:2%; margin-bottom:2em; background-color:#fff; }
ul#botonera li { text-align:center; padding:3px 0; }
ul#botonera li.sep { padding-top:6px; margin-top:3px; border-top:2px solid #fff; }
ul#botonera button { width:90%; padding:2px 0; }

table#llistat { width:90%; empty-cells:show; border:2px solid #bdd3ea; border-collapse:collapse; }
table#llistat tr.seleccionat { background-color:#ff6; }
table#llistat tr.over { background-color:#ffc; cursor:pointer; }
table#llistat th { font-size:.9em; font-weight:normal; text-align:left; padding:.2em .5em 1em .5em; background:#f3f7fc url(../imgs/table/head.gif) repeat-x left top; }
table#llistat td { padding:.3em .5em; border-top:1px solid #dce8f5; }
table#llistat th.id, table#llistat td.id { display:none; }

table#llistat td.nom { font:bold 1em Georgia, "Times New Roman"; }
table#llistat td.organisme { width:50%; font-variant:small-caps; }

table#llistat td.usuari { font-weight:bold; }
table#llistat td.nomUs { font:normal 1em Georgia, "Times New Roman"; }
table#llistat td.perfil { font-variant:small-caps; }

table#llistat tfoot td { text-align:center; font-size:.9em; padding-top:1em; background:#fdfbf9 url(../imgs/table/foot.gif) repeat-x left top; }
table#llistat tfoot td a { margin:0 .5em; }

table#llistatimportar {width:90%; empty-cells:show; border:2px solid #bdd3ea; border-collapse:collapse; }
table#llistatimportar tr.seleccionat { background-color:#ff6; }
table#llistatimportar tr.over { background-color:#ffc; cursor:pointer; }
table#llistatimportar th { font-size:.9em; font-weight:normal; text-align:left; padding:.2em .5em 1em .5em; background:#f3f7fc url(../imgs/table/head.gif) repeat-x left top; }
table#llistatimportar td { padding:.3em .5em; border-top:1px solid #dce8f5; }
table#llistatimportar th.id, table#llistat td.id { display:none; }

table#llistatimportar td.nom { font:bold 1em Georgia, "Times New Roman"; }
table#llistatimportar td.organisme { width:50%; font-variant:small-caps; }

table#llistatimportar td.usuari { font-weight:bold; }
table#llistatimportar td.nomUs { font:normal 1em Georgia, "Times New Roman"; }
table#llistatimportar td.perfil { font-variant:small-caps; }

table#llistatimportar tfoot td { text-align:center; font-size:.9em; padding-top:1em; background:#fdfbf9 url(../imgs/table/foot.gif) repeat-x left top; }
table#llistatimportar tfoot td a { margin:0 .5em; }

#t { display:none; position:absolute; top:0; left:0; font-size:.9em; font-weight:bold; color:#fff; padding:0 10px; background-color:#000; border:2px solid #fff; z-index:10; }

#textInfo, #textError { padding:1em 1em 0 4em; margin:2em 0; }
#textInfo { background:#f3f7fc url(../imgs/icones/info.gif) no-repeat 1em .8em; border:2px solid #bdd3ea; }
#textError { background:#fff1f1 url(../imgs/icones/error.gif) no-repeat 1em .8em; border:2px solid #f00; }
#textInfo p, #textError p { padding-bottom:1em; margin:0; }
#textInfo ul, #textInfo ol, #textError ul, #textError ol { padding-bottom:1em; margin-left:3em; }

div#cercaFORM { display:none; position:absolute; top:0; left:0; padding:6px 1em 3px 0; background:#fff url(../imgs/botons/cercar.gif) no-repeat 1em 50%; border:2px solid #ccc; z-index:3; }
div#cercaFORM input { margin-right:.5em; }
div#cercaFORMADV { display:none; position:absolute; top:0; left:0; padding:6px 1em 3px 0; background:#fff url(../imgs/botons/cercar.gif) no-repeat 1em 50%; border:2px solid #ccc; z-index:3; }
div#cercaFORMADV input { margin-right:.5em; }

#fons { position:absolute; top:0; left:0; width:100%; height:20em; background-color:#000; z-index:2; }

/* formulari */

form.formulari { float:left; width:90%; padding:1em 0 0 0; margin-bottom:2em; border:1px solid #ece0d3; }

form.formulari div.fila { overflow:hidden; width:100%; padding:0; margin-bottom:1.5em; }

form.formulari div.element { overflow:hidden; width:95%; float:left; padding:0; margin-left:2%; }

form.formulari div.t30 { width:30%; }
form.formulari div.t30 input, form div.t30 select { width:95%; background-color:#fff; border:1px solid #7f9db9; }

form.formulari div.t60 { width:62%; }
form.formulari div.t60 input, form div.t30 select { width:97%; background-color:#fff; border:1px solid #7f9db9; }

form.formulari textarea { width:98%; height:5.5em; background-color:#fff; border:1px solid #7f9db9; }

form.formulari div .on { background-color:#ddfeff !important; border:1px solid #7f9db9 !important; }

