<!DOCTYPE html>
<!--/*

Muestra un formulario de contacto.

*/-->
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:gus="http://www.caib.es/thymeleaf/gusite"
gus:decorator="layout" th:with="lang=${#strings.toLowerCase(MVS_idioma)}" th:lang="${lang}"
th:lang-xmllang="${lang}">
<head>
    <link rel="shortcut icon" th:href="@{/favicon.png}" type="image/x-ico"/>
	<title th:if="${MVS_contacto_titulo} !=null"
    th:text="${MVS_micrositetitulo} + ' - ' + ${MVS_contacto_titulo}">-</title>

    <script th:inline="javascript">
        /***********************************************
         * Validador de campos genericos requeridos v1.10- By VRS
         ***********************************************/
         /*<![CDATA[*/
         function checkrequired(which) {
            var pass = true;
            for (var i = 0; i < which.length; i++) {

                var obj = which.elements[i];
                if (obj.name.substring(0, 8) == "required") {
                    if (obj) {
                        switch (obj.type) {
                            case "select-one":
                            if (obj.selectedIndex == -1 || obj.options[obj.selectedIndex].text == "")
                                pass = false;
                            break;
                            case "select-multiple":
                            if (obj.selectedIndex == -1)
                                pass = false;
                            break;
                            case "text":
                            case "textarea":
                            if (obj.value == "" || obj.value == null)
                                pass = false;
                            break;
                            default:
                        }
                        if (obj.type == undefined) {
                            var blnchecked = false;
                            for (var j = 0; j < obj.length; j++) {
                                if (obj[j].checked) {
                                    blnchecked = true;
                                }
                            }
                            if (!blnchecked) {
                                pass = false;
                            }
                        }
                    }
                }
                if (!pass) break;
            }

            if (!pass) {
                var contactoCampoRequerido =/*[[#{contacto.camporequerido}]]*/;
                alert(contactoCampoRequerido);
                return false;
            }
            else
                return true;
        }
        /*]]>*/
        </script>
        <th:block th:remove="all">
        <!--/*
            Este bloque se usa para visualización en prototipo estático.
            Al ejecutarse dinámicamente, se eliminará automáticamente
            */-->
            <link rel="stylesheet" type="text/css" media="all" href="../css/estils-tema.css"/>
            <script type="text/javascript" src="../resources/Thymol-2.0/thymol.js"
            data-jquery-src="../resources/js/jquery/jquery-1.11.0.min.js"
            data-thymol-load="gus-dialect.js"></script>
            <script type="text/javascript">
            var thDebug = false;
            </script>
            <!-- Bootstrap -->
            <link href="../files/bootstrap/css/bootstrap.min.css" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
            <script src="../files/bootstrap/jquery-1.11.0.min.js" th:src="@{/resources/js/jquery/jquery-1.11.0.min.js}"></script>
            <script src="../files/bootstrap/js/bootstrap.min.js" th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
            <!-- Fin bootstrap -->
        </th:block>
    </head>
    <body>
        <section th:remove="tag" th:if="${MVS_contacto} !=null" layout:fragment="content">
            <!-- informacio con o sin menu -->
            <div class="container-contacte" th:id="(${MVS_microsite.tipomenu}=='0') ? 'infoNoMenu':'info'" id="info">
                <h2 th:if="${MVS_contacto_titulo} !=''"><span class="glyphicon glyphicon-pencil"></span><span th:text="${MVS_contacto_titulo}">Titulo contacto</span></h2>

                <form th:action="@{${#gusuri.contacto(MVS_microsite,MVS_idioma,MVS_contacto)}}"
                onsubmit="return checkrequired(this)" enctype="multipart/form-data" method="post">
                <div>
                    <div>
                        <input type="hidden" name="idsite" th:value="${MVS_idsite}"/>
                        <input type="hidden" name="lang" th:value="${MVS_idioma}"/>
                        <input type="hidden" name="cont" th:value="${MVS_contacto.id}"/>

                        <div th:each="i,iterStat : ${MVS_contacto_listatags}"
                        th:with="indice=${iterStat.index}" th:remove="tag">
                        <div class="separacio"></div>
                        <div class="etiqueta">
                            <label th:for="${i.key}" th:text="${i.key}">Etiqueta campo</label>
                        </div>
                        <div class="input">
                            <input th:utext="${i.value}" th:remove="tag"></input>
                        </div>
            </div>
        </div>
        <div class="separacio"></div>
        <div th:if="${MVS_contacto.anexarch} =='S'" th:remove="tag">
            <div class="etiqueta">
                <label th:text="#{contacto.docanex}">Document per
                    annexar</label> <input type="file" name="docAnex" id="docAnex" size="30"/>
                </div>
            </div>
            <div class="separacio"></div>
        </div>
        <p class="botonera">
            <input name="btnanar" type="submit" th:value="#{contacto.enviar}" tabindex="500"/>
        </p>
    </form>
</div>
<!-- fin informacio -->
</section>
</body>
</html>
