<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">

	<persistence-unit name="es.caib.gusite">
		<provider>org.hibernate.ejb.HibernatePersistence</provider>
		<jta-data-source>java:/es.caib.microsite.db</jta-data-source>
		<class>es.caib.gusite.micromodel.Accesibilidad</class>
		<class>es.caib.gusite.micromodel.Actividadagenda</class>
		<class>es.caib.gusite.micromodel.Agenda</class>
		<class>es.caib.gusite.micromodel.Archivo</class>
		<class>es.caib.gusite.micromodel.ArchivoLite</class>
		<class>es.caib.gusite.micromodel.ArchivoFull</class>
		<class>es.caib.gusite.micromodel.Componente</class>
		<class>es.caib.gusite.micromodel.Contacto</class>
		<class>es.caib.gusite.micromodel.Contenido</class>
		<class>es.caib.gusite.micromodel.Convocatoria</class>
		<class>es.caib.gusite.micromodel.Correo</class>
		<class>es.caib.gusite.micromodel.DistribucionConvocatoria</class>
		<class>es.caib.gusite.micromodel.Encuesta</class>
		<class>es.caib.gusite.micromodel.Estadistica</class>
		<class>es.caib.gusite.micromodel.Faq</class>
		<class>es.caib.gusite.micromodel.Frqssi</class>
		<class>es.caib.gusite.micromodel.Idioma</class>
		<class>es.caib.gusite.micromodel.IdiomaMicrosite</class>
		<class>es.caib.gusite.micromodel.Lineadatocontacto</class>
		<class>es.caib.gusite.micromodel.ListaDistribucion</class>
		<class>es.caib.gusite.micromodel.Menu</class>
		<class>es.caib.gusite.micromodel.Microsite</class>
		<class>es.caib.gusite.micromodel.MicrositeCompleto</class>
		<class>es.caib.gusite.micromodel.Noticia</class>
		<class>es.caib.gusite.micromodel.Pregunta</class>
		<class>es.caib.gusite.micromodel.Respuesta</class>
		<class>es.caib.gusite.micromodel.RespuestaDato</class>
		<class>es.caib.gusite.micromodel.SolrPendiente</class>
		<class>es.caib.gusite.micromodel.Temafaq</class>
		<class>es.caib.gusite.micromodel.Tipo</class>
		<class>es.caib.gusite.micromodel.Tiposervicio</class>
		<class>es.caib.gusite.micromodel.TraduccionActividadagenda</class>
		<class>es.caib.gusite.micromodel.TraduccionAgenda</class>
		<class>es.caib.gusite.micromodel.TraduccionComponente</class>
		<class>es.caib.gusite.micromodel.TraduccionContenido</class>
		<class>es.caib.gusite.micromodel.TraduccionEncuesta</class>
		<class>es.caib.gusite.micromodel.TraduccionFaq</class>
		<class>es.caib.gusite.micromodel.TraduccionFrqssi</class>
		<class>es.caib.gusite.micromodel.TraduccionLineadatocontacto</class>
		<class>es.caib.gusite.micromodel.TraduccionMenu</class>
		<class>es.caib.gusite.micromodel.TraduccionMicrosite</class>
		<class>es.caib.gusite.micromodel.TraduccionNoticia</class>
		<class>es.caib.gusite.micromodel.TraduccionPregunta</class>
		<class>es.caib.gusite.micromodel.TraduccionRespuesta</class>
		<class>es.caib.gusite.micromodel.TraduccionTemafaq</class>
		<class>es.caib.gusite.micromodel.TraduccionTipo</class>
		<class>es.caib.gusite.micromodel.Usuario</class>
		<class>es.caib.gusite.micromodel.UsuarioEncuesta</class>
		<class>es.caib.gusite.micromodel.UsuarioPropietarioMicrosite</class>
		<class>es.caib.gusite.micromodel.UsuarioPropietarioRespuesta</class>
		<exclude-unlisted-classes>false</exclude-unlisted-classes>
		<properties>
			<property name="hibernate.dialect" value="org.hibernate.dialect.Oracle9iDialect"/>
			<property name="hibernate.show_sql" value="true"/>
			<property name="connection.datasource" value="java:/es.caib.microsite.db"/>
  			<property name="use_outer_join" value="true"/>
  			<property name="jdbc.batch_size" value="50"/>
    		<property name="hibernate.cache.provider_class" value="net.sf.ehcache.hibernate.EhCacheProvider"/>
  			<property name="hibernate.cache.region.factory_class" value="net.sf.ehcache.hibernate.EhCacheRegionFactory"/>
			<property name="hibernate.validator.apply_to_ddl" value="false" />
  			<property name="hibernate.validator.autoregister_listeners" value="false"/>
  			<property name="cache.use_query_cache" value="false"/>
  			<property name="cache.provider_configuration_file_resource_path" value="ehcache-microsites.xml"/>
    		<property name="transaction.factory_class" value="org.hibernate.transaction.JTATransactionFactory"/>
  			<property name="transaction.manager_lookup_class" value="org.hibernate.transaction.JBossTransactionManagerLookup"/>
  			<property name="hibernate.bytecode.use_reflection_optimizer" value="true"/>
  			<!-- <property name="hibernate.ejb.cfgfile" value="/hibernate-microsites.cfg.xml"/>-->
		</properties>		
	</persistence-unit>
</persistence>
